[2020-11-19 23:32] microsoft-github-operations opened #1 "ACTION REQUIRED: Microsoft needs this private repository to complete compliance info"
There are open compliance tasks that need to be reviewed for your mssql-django repo.

## Action required: 4 compliance tasks

To bring this repository to the standard required for 2021, **we require administrators of this and all Microsoft GitHub repositories to complete a small set of tasks within the next 60 days.** This is critical work to ensure the compliance and security of your microsoft Gi

[2020-12-04 01:48] vwarchu opened #2 "Testing fails related to constraints"
From: https://groups.google.com/g/django-developers/c/FbBcUCzrSZo

The Django code that sets up test databases fails with MSSQL, while it succeeds with PostGRE, MySQL and SQLite.  The issues seem to revolve around setting constraints as the tables are generated, rather than holding off and enabling the constraints at the end of the process.

[2020-12-04 01:48] vwarchu opened #3 "No Django representation of Stored Procedures"
As per: https://groups.google.com/g/django-developers/c/FbBcUCzrSZo

Stored Procedures.  These need to be loaded as an additional step in the creation of a database, and don't really have any representation in Django per se so migrations, etc don't generally have an idea that they exist.

[2020-12-04 05:11] #1 closed, assigned to nobody

[2020-12-23 01:23] vwarchu opened #5 "Replace regex_clr.dll with a non-binary solution that works with SQL Server and Azure SQL DB"
The existing regex solution has a couple issues: it involves a binary in the open source code base which should be avoided, and it does not work on Azure SQL DB due to its reliance on the command sp_configure, which does not exist on Azure SQL DB.

A new implementation for regex_clr may be required to resolve the above issues.

[2021-03-02 18:29] techknowfile opened #7 "Parameter limitation on prefetch_related"
This is an issue that of course also exists in the ESSolution library that this repo is forked from.

When using prefetch_related to optimize queries for many-to-one and many-to-many relationships, Django generates an IN clause containing all of the primary keys that a M:1 model's foreign key should be filtered on, thus solving the N+1 problem.

However, MS SQL Server has a 2100 parameter limit, w

[2021-03-02 22:02] vwarchu commented on #7
@techknowfile - Thanks for the issue report. We'll take a look and get back to you regarding a potential solution and/or temp workaround. Cheers

[2021-03-03 06:05] davidjb opened #10 "Ability to run flexibly run tests on different database drivers/backends"
The original version of django-mssql-backend utilised `dj_database_url` in order to provide a flexible way of specifying the database configuration when running tests, by way of environment variables (https://github.com/ESSolutions/django-mssql-backend/blob/master/testapp/settings.py#L1-L6).  With this fork, that flexibility has been replaced with hard-coded settings in https://github.com/microsof

[2021-03-03 06:18] davidjb opened #11 "Document test processes & dependency installation"
At present, there's no information in the [README](https://github.com/microsoft/mssql-django/blob/dev/README.md) with regards to what tests should be run for this project and how to setup your environment and run them as a contributor.

Someone who's worked with Python/Django before probably knows to start looking at doing `pip install -e .` and running `python manage.py test` but setting that out

[2021-03-04 00:08] vwarchu commented on #11
Hi David, thanks for the note - your suggestions are appreciated. This has now been added to our short-term backlog.

[2021-03-04 00:10] vwarchu commented on #10
Hi @davidjb, I think the case is strong to reinstate this. We'll review internally and confirm back - thanks

[2021-03-04 20:59] techknowfile commented on #7
Thanks, @vwarchu. I think we're going to temporarily hack around this issue by monkey-patching the base.execute() function to identify when we have too many parameters with a query that contains a single IN clause and move those parameters into a temp table instead.

[2021-03-05 00:32] absci commented on #7
@techknowfile I'm able to reproduce the issue, I think Django has [some code to split parameters](https://github.com/django/django/blob/6e58828f8bcd33dfc91f236a972ae5fd23c9b0bc/django/db/models/lookups.py#L357). But it doesn't work with SQL Server. I'll try to provide a solution for that.

[2021-03-09 00:40] randlet opened #12 "Subquery with order_by results in `The ORDER BY clause is invalid in views, inline functions, derived tables, subqueries, and common table expressions, unless TOP, OFFSET or FOR XML is also specified"
This is a crosspost of https://github.com/ESSolutions/django-mssql-backend/issues/106

I ran into the error:

[code]

when performing a simple API query with Django Rest Framework / Django Rest Framework Filters and I have narrowed it down to an issue when using a Subquery with an ordered queryset.

Here is a reproducible test case using the django-mssql-backend testapp with a freshly created/migr

[2021-03-09 00:41] randlet commented on #12
The SQL that query generates:

[code]

And to "fix" it you can add an `OFFSET 0 ROWS` to the subquery:

[code]

or a `TOP 100 PERCENT` to the subquery:

[code]

My naive fix is to add an `OFFSET 0 ROWS` to any query which has an ordering but no offset or limit:

https://github.com/qatrackplus/django-mssql-backend/commit/677f200c97b86a2dc51a9e3f2fd0f4d095812284

[code]

I'm not sure if that is the

[2021-03-09 22:21] absci commented on #12
Thanks for the report, we'll looking into this issue.

[2021-03-11 23:23] tlugo-deacero opened #13 "Packaged version is not updated with fix for Django 3.1"
The current repository has the fix for Django 3.1 however the package still doesn't, could the package be updated to include it? Thanks!

[2021-03-12 00:19] absci commented on #7
I have committed a fix in `dev` branch. Let me know if you encountered any problems.

[2021-03-12 19:33] techknowfile commented on #7
Thank you, @absci! We had come to a similar approach of creating a temp table, but this is a much cleaner place of putting it

One issue we have rn is that your solution doesn't work when UUIDs are used as the PK

[2021-03-12 22:47] absci commented on #7
I see. If that's the case, it might be better to use different SQL data types for each Django models.

[2021-03-15 11:21] sparrowt opened #14 "Some indexes dropped in migration are not recreated"
### Problem
In the following cases (possibly more) any indexes on the column are dropped, but aren't recreated afterwards:
(a) when a column is made null-able (i.e. adding `null=True`)
(b) when a column is renamed
(c) when a table is renamed

This is quite a major issue because it is silently leaving the database in the wrong state - the migration doesn't fail, but now certain columns with `db_ind

[2021-03-15 19:59] absci commented on #14
Issue acknowledged. We will review it and propose a better solution in the future.

[2021-03-18 10:22] sparrowt opened #15 "License changed from BSD to MIT without permission"
Filing this as a separate issue so it doesn't get lost in a comment thread on the repo from which this was forked:
https://github.com/ESSolutions/django-mssql-backend/issues/91#issuecomment-799382717

Thank you @vwarchu for the response:

I trust this ticket can serve to track resolving this issue.

As well as re-instating the license it would be appropriate (if not required - I'll let you talk to

[2021-03-19 22:57] vwarchu commented on #15
@sparrowt - Yes, tracking this issue here is recommended. Thanks

[2021-03-22 10:44] timnyborg opened #19 "NULLS LAST added to query in django 3.1"
I'm testing upgrading from django 3.0 to 3.1, using the latest backend, version 1.0b1.  When using the `nulls_last` flag in an order_by, it appends a bit of SQL invalid in MSSQL (NULLS LAST)

The following use of nulls_last:

[code]

Produces the query:
[code]

So both the MSSQL workaround and the ANSI SQL standard are there.

Naturally, this throws the error `[42000] [Microsoft][ODBC Driver 17 fo

[2021-03-22 13:44] timnyborg commented on #19
After digging into the issue, I found the backend was just missing a couple more feature flags, so I've opened pull request https://github.com/microsoft/mssql-django/pull/20

[2021-03-24 01:41] absci commented on #19
Thanks for the pull request, we'll review it as soon as we can.

[2021-03-25 00:19] absci commented on #12
Hi, @randlet I can reproduce the error for Django<3.0.
For Django 3.0 or newer. They have changed how subquery works. So this won't throw an error.
I think adding `OFFSET 0 ROWS` should fix this. Would you like to make a pull request?  Maybe add `if django.VERSION < (3, 0, 0)` since it is working for newer version.

[2021-03-26 22:48] absci commented on #13
The latest version got released with Django 3.1 support.

[2021-03-26 22:48] #13 closed

[2021-03-26 22:49] absci commented on #19
Thank you for your contribution, this was merged.

[2021-03-26 22:49] #19 closed

[2021-03-31 18:16] dcleveng opened #22 "Altering Unique, nullable field to Non-nullable"
This has been an on-going issue with the Django MSSQL backend. I've experienced it on more than one occasion in my own code and third party modules, the most recent occurring when attempting to integrating [djangorestframework-api-key](https://florimondmanca.github.io/djangorestframework-api-key/) into an existing project.

Running migrations on the newly installed module results in the following

[2021-04-01 20:05] absci commented on #22
Thanks for this report, we will review the issue and existing PR from https://github.com/ESSolutions/django-mssql-backend/pull/77.

[2021-04-04 15:00] dimbleby opened #23 "Default driver is not what the README claims"
README says:

[code](https://github.com/microsoft/mssql-django/blob/b37cecf94d13197e8cd4cb6cf1cbb8b27329210b/mssql/base.py#L255) says:
[code]

(I found this because 17 is the value that one actually needs in an Azure App Service.  But since the README told me that was the default, I left it alone; and then it didn't work.)

[2021-04-05 23:13] absci commented on #23
Thanks for the report, I'll change the default value accordingly to match the README file.

[2021-04-07 05:03] skasidej opened #24 "JSON Field model cause error during migrate"
Has anyone come across with an error from `models.JSONField()` which is caused from models.py. Even the migrations file defined the field as `models.TextField()`. Because if my understanding is right, there is no JSON column inside MS SQL.

An example of error while migrating
`
ERRORS:
app.SomeModel: (fields.E180) SQL Server does not support JSONFields.
script returned exit code 1
`

The thing is,

[2021-04-07 11:12] dimbleby opened #25 "KeyError running migrations at Django 3.2"
[code]

[2021-04-07 13:14] randlet commented on #24
The repository this one was forked from has the JSONField from Django 3.1 implemented: https://github.com/ESSolutions/django-mssql-backend/pull/82 so that fix could likely get ported over here.

[2021-04-08 00:59] absci commented on #24
Thanks for your comment. We are currently working on JSONField related issues.

[2021-04-08 01:02] absci commented on #25
This backend is not supported Django 3.2 yet, try an earlier version should fix this problem.

[2021-04-09 13:18] BobDenar1212 opened #26 "Could not find stored procedure 'sp_msforeachtable'"
Hi,

I'm deploying a django application into a Azure App Service for linux, the database is an Azure SQL Database

# Context
python 3.8
Django 3.0.13
mssql-django 1.0b1
pyodbc 4.0.30

# Description
While loading data from fixtures with the `python manage.py loaddata ...` command, it fails with the following trace:
[code]
This stored procedure seems to be not available in Azure SQL Database.

Addin

[2021-04-09 13:41] yigor commented on #26
The is a PR for this in the original repo ESSolutions/django-mssql-backend#65

[2021-04-09 14:35] BobDenar1212 commented on #26
My database is case insensitive `SQL_Latin1_General_CP1_CI_AS`, even with the correct label the stored procedures are not ported to Azure SQL Database (https://github.com/ESSolutions/django-mssql-backend/pull/65#issuecomment-692832014)

My only chance is to create those in master, but I can't for the moment.

[2021-04-09 22:28] absci commented on #26
In your case, you probably have to modify https://github.com/microsoft/mssql-django/blob/33b4e23e5f19afc1dc6bf625162d3aac29a5e3ea/mssql/base.py#L492
to a for/while loop, then run `ALTER TABLE ? NOCHECK CONSTRAINT ALL` for each table. We'll also investigate this issue and provide better support for Azure SQL in the future.

[2021-04-09 22:57] #7 closed

[2021-04-09 22:58] absci commented on #12
This fix has been merged.

[2021-04-09 22:58] #12 closed

[2021-04-09 22:58] absci commented on #7
This issue has been fixed.

[2021-04-10 16:01] pbartyik commented on #25
Works great with Django 3.1.8, but it would be nice to have this working with 3.2. What would need to be done to get it working?

[2021-04-12 12:40] msopko81 opened #27 "Python 3.9 Pipelines"
I came across this page: https://github.com/microsoft/mssql-django/runs/2322199369 and it looks like you have pipelines for python versions 3.6 through 3.8, but not 3.9.

[2021-04-12 12:47] randlet commented on #12
@absci thanks!

[2021-04-13 16:31] absci commented on #25
Hi @pbartyik, we're currently working on this issue to get Django 3.2 running with the backend.

[2021-04-13 16:32] absci commented on #27
Good suggestion, I'll Python 3.9 to the pipeline.

[2021-04-18 09:07] lucasfijen commented on #24
For the time beeing I'm using https://pypi.org/project/jsonfield/, which seems to still work on 3.1, and actively dumps the json into a textfield and loads it again when called.

[2021-04-19 06:42] davidjb opened #31 "`nulls_first` or `nulls_last` ordering produces incorrect SQL Server syntax"
Using the latest `dev` (https://github.com/microsoft/mssql-django/commit/f2d27eee8c9adfbbc42fa8f27dd3fbef0930e89a),  attempts to use `nulls_first` or `nulls_last` ordering produce invalid SQL.

#19 reports a related issue, but the change in #20 that modifies the database backend's features causes Django's _other_ conditional pathway at https://github.com/django/django/blob/main/django/db/models/ex

[2021-04-19 07:26] davidjb commented on #31
Reopened https://code.djangoproject.com/ticket/32584 and expanded the description.  Thanks @timnyborg for starting that.

[2021-04-19 07:27] davidjb commented on #19
This is still an issue, but in a different way, see #31 here and I've reopened https://code.djangoproject.com/ticket/32584 and expanded the description and context.

[2021-04-19 07:45] timnyborg commented on #31
Thanks for reopening - I hadn't encountered that particular case.

[2021-04-20 06:27] davidjb commented on #31
@timnyborg I just opened #32 to resolve this issue

[2021-04-21 16:47] absci commented on #31
Thanks for all your work. I'll review and merge it if everything's good.

[2021-04-21 16:47] #23 closed

[2021-04-22 01:30] NZSmartie opened #33 "[FA001] [Microsoft][ODBC Driver 17 for SQL Server]Cannot use Authentication option with Integrated Security option"
Using:
- Python 3.8
- Windows 10
- mssql-django 1.0b1

In setting up an existing Django application to use SQL server on Azure through AppService, I've got a test databse set up and i'm able to authenticate through Azure when using SQL Management Studio.

Following the example set in https://github.com/microsoft/mssql-django/wiki/Azure-AD-Authentication, for `settings.py` I have:
[code]

when runn

[2021-04-22 03:01] NZSmartie commented on #33
I've investigated further and there are two things that stod out.
1. An older version of the _ODBC Driver 17 for SQL Server_ was installed that did not support Azure AD Interactive authentication option.
   - The latest version can be obtained from https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15
2. (only applies to mssql-django==1.0b1) Wh

[2021-04-22 04:58] NZSmartie opened #34 "Add support for `unique=True` on `BinaryField`, `TextField`, and others"
Microsoft SQL server has a set of maximum capacity specifications as documented [Maximum capacity specifications for SQL Server](https://docs.microsoft.com/en-us/sql/sql-server/maximum-capacity-specifications-for-sql-server?redirectedfrom=MSDN&view=sql-server-ver15)

The `DatabaseWrapper.data_types` dictionary contains a `max` parameter for some fields in the database that may or may not have a `m

[2021-04-23 08:44] clumsypuffin opened #35 "Domain user auth Failing"
Hi

I'm able to use Sql user to communicate with the DB but using domain account is causing error:

"[28000] [Microsoft][ODBC Driver 11 for SQL Server][SQL Server]Login failed for user 'domain\\user'. (18456) Invalid connection string attribute (0)"

These are the configuration that I'm using:

`DATABASES = {
    'default': {
        'ENGINE': 'mssql',
        'NAME': 'mydb',
        'USER': 'doma

[2021-04-23 23:39] absci commented on #33
Thanks for pointing this out, I have updated the Wiki to recommend people using the latest ODBC 17.
The PyPi release is synced with the `master` branch. If you'd like to try some `dev` branch feathers, you could clone `dev` and run `pip install -e .` in `mssql-django` folder.

[2021-04-23 23:41] absci commented on #34
Thanks for your suggestion, the support will likely come in the future.

[2021-04-23 23:47] absci commented on #35
Have you tried [`sqlcmd`](https://docs.microsoft.com/en-us/sql/ssms/scripting/sqlcmd-connect-to-the-database-engine?view=sql-server-ver15) command to that domain?
`ODBC Driver 11 for SQL Server` seems very old, is it possible to update it to [ODBC 17](https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15)?

[2021-04-24 11:52] clumsypuffin commented on #35
@absci yes,I usually use domain login with the integrated option for sqlcmd.  I understand that it's not officially supported (the SQL server version), Will check about the upgrade.

[2021-04-27 04:22] NZSmartie commented on #26
Hi @absci, can you please comment on the PR #28? I've just hit the same problem while doing a `manage.py dumpdata` and `manage.py loaddata`.

[2021-04-28 17:33] absci commented on #26
@NZSmartie I have merged PR #28.

[2021-04-30 10:15] BobDenar1212 commented on #26
Thanks @absci  !
I'll close this issue once #28 is included in the next release, do you have any idea when it will occur ?

[2021-04-30 16:10] absci commented on #26
@BobDenar1212 I'm not sure when the next release will be available. We're currently determining the date.

[2021-05-04 12:36] luizfelipevbll opened #36 "Error on initial migration: Applying contenttypes.0001_initial...Traceback"
Using django 3.2 and mssql-django 1.0b1 I get the following error runing the first migrate

[code]

[2021-05-04 16:12] absci commented on #27
Python 3.9 added to the pipeline. https://github.com/microsoft/mssql-django/commit/0153047808842dfb23c538b88e08bf5d118fc432

[2021-05-04 16:12] #27 closed

[2021-05-04 16:35] absci commented on #36
Django 3.2 is working with the latest `dev` branch. To try it out, you could `git clone` and `checkout` dev branch to a local directory and `pip install -e .` in that folder.
Or you could use the previous version of Django `pip install django==3.1`

[2021-05-06 17:23] luizfelipevbll opened #37 "Migrations not working"
I was using mariadb connection but had to migrate to MSSQL
So I deleted all migrations folder stuff and remade the migrate, makemigrations...

First problem I found is that some columns that by default allowed Null values on MySQL now it seens the default is to not allow Null values on SQLSERVER...

The second problem is that altering a table is not working on DB level
I have a table created and l

[2021-05-07 05:08] davidjb commented on #31
@absci Just wondering if you've had a chance to review this PR.  Without it, I'm unable to query Django with this ordering enabled on models.

[2021-05-07 17:08] #31 closed

[2021-05-07 17:09] absci commented on #31
Looks very good, I have merged it. I got busy with other things recently.

[2021-05-07 20:27] davidjb commented on #31
No worries, thanks very much @absci!

[2021-05-08 14:24] tiholic opened #38 "Any ETA on stable release?"
Firstly, it is great to see that this package is being continued officially. 💯

I see currently this package is in beta. Do we have any ETA on stable release?

[2021-05-10 23:12] absci commented on #38
Thanks for trying out this project. We're currently determining the date for release.

[2021-05-11 02:33] zhao-li opened #39 "django.db.utils.Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 17 for SQL Server' : file not found (0) (SQLDriverConnect)")"
Hi,

Thank you for providing an officially supported library to connect Django with SQL Server.

I am running into the following error whenever Django tries to connect to the database:
`django.db.utils.Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 17 for SQL Server' : file not found (0) (SQLDriverConnect)")`

I've tried to install the ODBC drivers with: `yum insta

[2021-05-11 08:25] #26 closed

[2021-05-11 15:54] timnyborg commented on #39
Have you installed the ODBC Driver 17 library? https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15

[2021-05-11 16:28] zhao-li commented on #39
I think I did. I issued: `yum install unixODBC-devel`
Is there a way to verify/check/confirm? Or was there another command to install the ODBC drivers?

Thank you for your help 🙏🏻

[2021-05-11 16:41] timnyborg commented on #39
unixodbc is a separate requirement, which allows access to any installed drivers.  You need to install the driver itself, the method depending on your distro: https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15

[2021-05-11 21:22] #39 closed

[2021-05-12 19:37] Starman1984 opened #40 "string to uniqueidentifier conversion exception"
I have a table that uses an uniqueidentifier when adding a new record via admin page a uniqueidentifier conversion exception
is returned. Tried overriding .Save but with no luck, do you have any thoughts?

The table is as follows:
    CREATE TABLE [dbo].[DictionaryEntries](
        [EntryGUID] [uniqueidentifier] NOT NULL,
        [Description] [varchar](50) NOT NULL,
    CONSTRAINT [pkEntry] PRIMA

[2021-05-13 04:33] aceofwings commented on #40
UUID fields are an interesting topic that I tried covering several years ago. Currently the project has no support for native UUID and will use Char(32) or Char(36)... Can not remember exactly. Some older ODBC drivers will omit "-" characters depending on the version of sqlserver you are running. Now... I recommend trying several things

1. UUID fields to be Char(32) or Char(36) fields in your sch

[2021-05-14 21:40] #11 closed

[2021-05-14 21:41] absci commented on #25
Django 3.2 startup issue fixed.

[2021-05-14 21:41] #25 closed

[2021-05-14 21:43] absci commented on #24
This is fixed in the `dev` branch.

[2021-05-14 21:43] #24 closed

[2021-05-14 21:44] #33 closed

[2021-05-14 21:46] #36 closed

[2021-05-19 16:14] aberg-cubist commented on #38
Would it be possible to make a b2 release in the meantime, I would really like to try out the JSONField!

[2021-05-20 05:00] absci commented on #38
If you would like to try the `dev` branch, you could `git clone`, `checkout dev`. Then `pip install -e .` in `mssql-django` folder.

[2021-06-01 10:23] starryrbs opened #42 "How do I use sqlserver timestamp field?"
I did not find a mapping for the TIMESTAMP field.

[code]

[2021-06-01 20:44] absci commented on #42
I don't think Django have a field for TIMESTAMP, you could use `DateTimeField` with `auto_now_add`.
[code]

[2021-06-02 00:25] starryrbs commented on #42
Thank you very much for your reply^_^.
If I use `DateTimeField` with `auto_now_add`, the database throws an exception of "Cannot insert an explicit value into a timestamp column" because Django's `auto_now_add` is a value generated internally by Django.
I want to ask if there are any good solutions or is there a problem with my use?

[2021-06-05 01:50] linkwithkk commented on #42
Can you try this if you don't need default value and would like to insert it yourself later:
[code]

If you want to initialize with default server time, you can try this to see if it works for you:
[code]

[2021-06-07 01:28] starryrbs commented on #42
Thank you very much for your reply. @linkwithkk.
Using the `default` cannot solve my problem, because the `rowversion` field cannot be changed and inserted. The `default`  is still a value generated by python, and I expect the value generated by the database. I feel that this is a design problem of Django. I rewrote the save method of the model to solve this problem, but it is not a good solution.

[2021-06-07 01:28] #42 closed

[2021-06-09 07:09] starryrbs opened #43 "How to use WITH(NOLOCK)?"

[2021-06-09 23:41] variable opened #44 "Strange isolation level being set to "read committed""
[code]

I have the following settings with "isolation_level" set to `READ UNCOMMITTED", but every now and then we have query stuck with isolation level set to "READ COMMITTED", anyone having similar issue?

[2021-06-10 01:48] zhao-li opened #45 "Natural Key not implemented?"
Thank you for creating this library so we can support MS SQL using Django.

I am trying to seed my Django app using natural keys instead of hard-coding IDs/PKs like this: https://docs.djangoproject.com/en/3.2/topics/serialization/#natural-keys

But I don't think this library (e.g. mssql-django) recognizes natural keys.

I've tried the same code/YAML that is working with a Django app using PostgreS

[2021-06-10 15:27] rmControls commented on #38
I am also waiting for Django 3.2 supported version... any update on this??

[2021-06-10 21:21] absci commented on #43
This backend currently does not support with(nolock), maybe you could set `isolation_level` to `READ UNCOMMITTED` in your database settings.

[2021-06-10 22:23] absci commented on #38
I don't have any updates at the moment.

[2021-06-10 23:33] starryrbs commented on #43
Thank you for your reply.

[2021-06-10 23:33] #43 closed

[2021-06-11 13:19] martinzellner opened #46 "Temp Tables for big delete queries don't work for UUIDs"
Hello,

we are stuggeling with the following issue:

I'm running a big delete query with ~ 17000 entries:
`Model.objects.filter(pk__in=delete_list).delete()`

What mssql-django does is to create a temp-table to not exceeed the maximum number of parameters:
`CREATE TABLE #Temp_params (params nvarchar(32))`
`INSERT INTO #Temp_params VALUES ('fe5633e3-5ad9-471a-9046-000364aada58'), `

Unfortunately m

[2021-06-11 21:38] absci commented on #44
https://github.com/microsoft/mssql-django/blob/219c8f76bcd3ad981c4bc8abd9e6a574cf802e0e/mssql/base.py#L372-L374
The `isolation_level` is set in base.py. I didn't experience any similar issues but feel free to update or open PR if you found any bugs.

[2021-06-11 21:47] absci commented on #45
I'm not too familiar with natural keys. Could you provide some code samples that reproduce this issue?

[2021-06-12 01:12] variable commented on #44
Yeah I have been through that file, I also added print statements in that file to log isolation levels, it seems fine but every now and then our MS guy saying some queries were executed in read committed level.

[2021-06-14 19:37] absci commented on #46
I think it makes sense to have the same data type in the temp table. we'll make some updates in the future.

[2021-06-14 20:34] zhao-li commented on #45
@absci Thank you for following up with this request.

I'm not too familiar with natural keys either, but the following is what I gather.

If I define a `get_by_natural_key` method on the model manager (https://gitlab.com/porter4/backend/-/blob/master/trading_accounts/managers.py#L9-12),
then I can then refer to associated models in my seeds using natural names (https://gitlab.com/porter4/backend/-

[2021-06-18 09:21] starryrbs opened #48 "How to use distinct?"
When I use DISTINCT,
[code]
I got an error,
[code]

[2021-06-21 23:43] absci commented on #48
Hi, this feature is currently not supported.

[2021-06-22 01:42] #48 closed

[2021-06-23 09:16] sparrowt commented on #15
I noticed that LICENSE.txt has now been reverted to BSD 3-Clause by https://github.com/microsoft/mssql-django/commit/4dfb39c028dcdf3a1d6f5f5f10bc3404a333fdde, thank you!

For some reason GitHub isn't displaying the license 'infobox' at the top of https://github.com/microsoft/mssql-django/blob/dev/LICENSE.txt (whereas for example [the parent of this fork](https://github.com/ESSolutions/django-mssql

[2021-06-23 09:17] sparrowt commented on #15
The other thing mentioned in the description of this issue is the copyright notice - unfortunately this still says simply:

which doesn't acknowledge the years of work by the following (from previous license files linked above):

though I realise this may be more of a grey area, but I thought I'd point it out.

[2021-06-24 16:15] absci commented on #38
Good news, PyPi will be updated on June 30, 2021 with version 1.0rc1, and GA release on July 29.

[2021-06-28 15:02] pmasonBWC opened #50 "Migration issue - Django 3.2.3"
Hi,

Appreciate this is a Beta product; I'm trying to get the SQL script using "sqlmigrate" for a brand new, completely blank Django project with just the basic admin tools.

I'm getting this output, which indicates a failure in the mssql Schema.py file:

python3 manage.py sqlmigrate admin 0001_initial
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    main()
  File "m

[2021-06-29 07:52] vwarchu commented on #15
@sparrowt - Thanks for your patience - I've now updated the License.txt file in the dev branch to account for the historical copyright notices. This will be merged this week and be part of the subsequent releases.

[2021-06-30 07:40] byt3pool commented on #24
@absci Is there any plan to release this soon?

I set up my system today (Django 3.2.4, mssql-django 1.0.b1) and get the same error: "SQL Server does not support JSONFields."

[2021-06-30 20:56] absci commented on #50
Hi, a new version of `mssql-django` (1.0rc1) released to PyPi, it should fix this error.

[2021-06-30 20:57] absci commented on #24
A new version 1.0rc1 released today, give it a try.

[2021-07-01 08:06] pmasonBWC commented on #50
Thanks, will try it out a bit later.  For what it's worth I succesfully reverse engineered the tables the basic admin/auth functions produce and faked the migrations.  I'm planning on primarily using DB first ORM, not code first...but it's good to have it there just in case.

[2021-07-01 09:34] sparrowt commented on #15
Thank you @vwarchu. 10f05255159a029e45c0dc1ae51de24da8c051da for the interested. Also related: aca9d268987076d7c257580ffb501e176c0c0178 👍

[2021-07-01 09:36] #15 closed

[2021-07-06 23:19] jsguerrero opened #53 "model db_table"
Hi!

I'm create a model, but it does not respect the name that I assign from the `meta` method.

**models.py**
[code]

**python manage.py sqlmigrate users 0001**
[code]

I expected table name users_teenus_products

Thanks!

[2021-07-08 11:46] WayneLambert commented on #38
Hi @absci, will the GA version at the end of the month include support for Django 3.2 as well? I can see that you have updated the project description on PyPI to reflect that Django 3.1 is supported.

Also, it would be good if the classifiers metadata is also updated with the versions of Python/Django that is supported.

Thanks for taking this project on to improve compatibility with SQL Server.

[2021-07-08 17:31] absci commented on #53
Hi, I couldn't reproduce your issue. Could you check your migration file for this model.
It should have something like this
[code]

[2021-07-08 17:40] absci commented on #38
Thanks for your suggestions, Django 3.2 is currently supported with 1.0rc1 I'll update the readme and classifiers.

[2021-07-10 12:58] WayneLambert commented on #38
Hi @absci, thanks. I look forward to the GA version being made available.

[2021-07-23 17:34] manuel-rdco opened #54 "Please, is Always encrypted working in this project? Not sure if it is an unsupported feature."
Hello.

I am trying to use this project with the always encrypted feature and Azure sql.

A simple select * query is working, but returning encrypted field illegible so, I tried Pyodbc directly in a small program in python, which is working and returning field as clear text. In Django, however, I am using the equivalent parameters and it is returning the field as encrypted, not as clear text as it

[2021-07-26 15:31] marciobbj opened #55 "Support altering from/to (Big)AutoField"
Hello.

I have been trying to migrate some of my tables, from `<django.db.models.fields.IntegerField: id>` to a `<django.db.models.fields.BigAutoField: id>`.

This change seems not to be supported by this backend since I am getting a ```NotImplementedError: the backend doesn't support altering from/to AutoField.``` . I would like to know if there is some way to make this work since I am trying to

[2021-07-27 00:36] absci commented on #55
Hi, due to the limitation of the SQL Server, alter the id column from INT to BIGINT with identity is not possible. One approach is to drop the primary key constraint, alter the column to BIGINT, then add the primary key. If there are any foreign key constraints that reference the PK, they also need to drop first and recreate later. It would be great if you decide to work on this. I haven't spent m

[2021-07-27 17:49] fnea opened #56 "How to specify schema?"
Is there a way to specify a schema other than the default?  If so, could there be one?

I know there are ways for Django with a Postgres backend, but it doesn't look like it for MSSQL.

Thanks.

[2021-07-28 06:59] manuel-rdco commented on #54
Hello.

I found out that ODBC with **Always Encrypted** is actually working for the "select all" example I was using. I created a cursor and used the connection in this way, for example:
from django.db import connection
c = connection.cursor()
sql = "SELECT * FROM prueba_encriptado;"
c.execute(sql)
print("WORKS: ", c.fetchall())

What is not working as expected is doing **select *** using **manage

[2021-07-28 08:19] manuel-rdco commented on #54
I found out that Inserts are working as well with **Always Encrypted**.
Thank you.

[2021-07-28 08:26] manuel-rdco commented on #54
as to dbshell behaviour, just in case someone else is having trouble, I can see in https://docs.djangoproject.com/en/3.2/ref/django-admin/ the following:
_Note
Be aware that not all options set in the OPTIONS part of your database configuration in DATABASES are passed to the command-line client, e.g. 'isolation_level'._
So, this appears to be the reason why Always Encrypted is not working as expec

[2021-07-28 17:15] absci commented on #54
Glad to hear it worked out for you. We're also running some tests at the moment to verify it.

[2021-07-29 06:20] manuel-rdco commented on #54
All right. In order to improve the docs, let me suggest updating README.md if the testing is satisfactory. I searched 'Always encrypted' and presently it does not appear in the documentation. Thank you.

[2021-07-29 06:35] manuel-rdco commented on #54
As well as that, I saw In the source code at https://github.com/microsoft/mssql-django/blob/dev/mssql/base.py the following:
_# extra_params are glued on the end of the string without encoding,
..._
So I am sure that many other characteristics working in pyodbc are also present in mssql-django via **extra_params**  (with the correct formatting) and are not documented. It is implicit, but perhaps s

[2021-07-29 23:17] absci commented on #56
Hi, are you trying to use a specific schema for a model?
In your `models.py`. You could have db_table in class Meta.
[code]

[2021-07-30 10:13] clumsypuffin commented on #35
@absci I have updated to ODBC 17 (django 3.2 and mssql-django v1) and the domain user issue is still there. any suggestions ?

[2021-08-03 08:21] mitchellpalmer opened #59 "Nullable OneToOneFields"
Due to MS-SQL not properly implementing the ANSI SQL specification on this issue, multiple nulls in a column violate a Unique constraint. This means it is practically impossible to create nullable OneToOneFields in Django. There appears to be a possible fix -- https://stackoverflow.com/a/767702.

I am going to try to implement a fix for my own use case and will share it once I have done so, but I

[2021-08-03 08:27] mitchellpalmer commented on #59
Digging into the source code, it looks like this fix is already present in schema.py, but for some reason is not trigger for OneToOneField relationships. I will investigate further.

[2021-08-03 23:25] absci commented on #35
I'll look into this issue, could you share the command that you used with `sqlcmd` when you successfully logged in?

[2021-08-05 03:15] absci commented on #59
Thanks for open this issue, feel free to post any of your discoveries here.

[2021-08-06 23:22] absci commented on #38
GA release completed end of July.

[2021-08-06 23:22] #38 closed

[2021-08-09 10:32] AdamosX opened #60 "Azure SQL version/features not checked correctly"
Our app uses Azure SQL as database. We encountered a problem while trying to use JSON field and found out that it is supported by Azure SQL but the check is not implemented correctly.
https://github.com/microsoft/mssql-django/blob/5007a268dbf8bdc3ad6c98c36a0059295d61d181/mssql/features.py#L78

It seems that SQL Server and Azure SQL have different version numbers.
[code]
reports 12 on Azure but in

[2021-08-10 03:26] jlaundry opened #61 "./manage.py test fails with using Azure SQL and Service Principal authentication"
Background:

- I'm using Django==3.1.13, and mssql-django==1.0
- I have created Azure SQL Server, using Service Principal authentication, with two databases: **[db]** and **[test_db]**
- the Service Principal has been configured with db_owner on both databases (i.e., `CREATE USER [app] FROM EXTERNAL PROVIDER; EXEC sp_addrolemember 'db_owner', [app];`)
- I have updated DATABASES in settings.py with

[2021-08-10 22:42] absci commented on #60
Thanks for report this, I'll look into it.

[2021-08-11 22:02] absci commented on #61
Hi, I see you already did some investigation on this, would you like to provide a patch? Maybe a try block to avoid the permission issue.

[2021-08-16 16:08] absci commented on #35
Any updates or additional information? We'll close this issue next week if we don't hear back. Feel free to reopen.

[2021-08-16 16:16] absci commented on #5
regex_clr.dll added to PyPi through package_data.

[2021-08-16 16:16] #5 closed

[2021-08-17 00:39] theultimate1 commented on #56
What if you want to specify schema for the inspectdb command?

[2021-08-18 14:59] looser990 commented on #60
@absci where can we check release roadmap for this project as we have same issue so we kinda need to decide if we are going to use JSON field or not :(

[2021-08-19 01:05] absci commented on #56
1. Change the default schema for `your_user` to match the schema you'd like to inspectdb.
2. Make sure `your_user` has the privilege to access it. (`your_user` should not be in `sysadmin` group, if so default schema will be ignored)

For example:
[code]

[2021-08-24 04:17] yazdan commented on #56
@absci thanks for your answer

I have multiple schemas in DB and want to use `inspectdb ` to generate model.

Is there any way to easily do that?

I've reviewed `introspection.py ` file and found out there is couple of place that it calls `SCHEMA_ID()` and I think changing this is the starting point

[2021-08-24 21:30] vwarchu commented on #60
@looser990 - Thanks for the feedback, we have now added a wiki page for this Github project for "Upcoming Release Notes". This page will preview what will be going in to the next preview or GA release. We don't have a publicly available roadmap of sorts at this time. Hopefully this fits your purpose.

[2021-08-25 21:10] #3 closed, assigned to nobody

[2021-09-02 19:46] #46 closed

[2021-09-02 19:54] #40 closed

[2021-09-02 20:11] #60 closed

[2021-09-02 23:01] absci commented on #34
Hi, max_length for BinaryField is supported with this commit (https://github.com/microsoft/mssql-django/commit/848c847cec23f18501010d97889b2cbcb7631fbf)

For TextField and JSONField, there are intended to store a large amount of text, so max_length will not be supported.

[2021-09-02 23:01] #34 closed

[2021-09-02 23:02] #53 closed

[2021-09-07 17:14] knickfan7 opened #63 "'mssql' isn't an available database backend"
Hi, I created a new project and installed django, pyodbc and mssql-django and used the example string that was provided. but I am receiving the 'django.core.exceptions.ImproperlyConfigured: 'mssql' isn't an available database backend.

[2021-09-07 17:55] #63 closed

[2021-09-09 08:50] shakthifuture opened #64 "Managed Service Identity - Azure Authentication"
I have enabled **MSI**(Managed Service Identity) in my Azure Database, so I couldn't able to use the **username** and **password** to access the database. How could I connect the azure database using this package?

**More details about what is MSI**: https://techcommunity.microsoft.com/t5/azure-database-support-blog/using-managed-service-identity-msi-to-authenticate-on-azure-sql/ba-p/1288248

Any

[2021-09-09 14:44] adolotovs opened #65 "Package doesn't report error correctly if Email service credentials are wrong"
### Problem
The gmail user account that I was using to send email was subsequently blocked, which caused confusing error message

On db record creation I trigger a signal to "send.mail()", which adds entry to post_office_email table without problems.
However when I run "python manage.py send_queued_mail", it throws the following error:

**_pyodbc.ProgrammingError: ('42000', '[42000] [Microsoft][OD

[2021-09-10 23:46] absci commented on #64
Hi, MSI is currently not supported, we'll work on adding that in the future.

[2021-09-11 00:14] absci commented on #56
Yes, you're right, I think that `SCHEMA_ID()` does limited `inspectdb` to only generate models for the default schema.

[2021-09-13 03:13] jlaundry commented on #61
Hi @absci, sorry for going quiet, I've just raised a PR 😊

[2021-09-13 14:57] verneris opened #67 "Migration renaming a field fails"
Migration renaming a field fails on mssql-django version 1.0 but succeeds on 1.0rc1. Tested on both Django 2.2.17 and 3.2.7. The issue is probably related to [commit](https://github.com/microsoft/mssql-django/commit/76d8a92faacb58744f29972bd3afa9e9d149ce38) which removed the index deletion before column rename.

Migration which creates the field:
[code]

Migration which tries to rename the field b

[2021-09-13 22:09] absci commented on #65
Hi, thanks for report this issue. I think it's related `bulk_update multiple fields to null. It's a known limitation currently, we'll patch it in the future.

[2021-09-14 23:28] absci commented on #61
Merged, thanks for your contribution.

[2021-09-14 23:28] #61 closed

[2021-09-16 02:28] absci commented on #67
I can reproduce this error. I removed the index deletion because it's not recreated in some cases. I'll find a way to fix the RenameField.

[2021-09-20 17:08] shakthifuture commented on #64
Hi @absci , Thanks for considering this in the future release. May I know the deadline? because of this restriction, we planning to some other database.

[2021-09-21 16:18] vwarchu commented on #64
@shakthifuture - We will do further investigation this month in order to determine estimates and potential timelines. However, we can't commit to an outcome as of yet. We'll provide an update here by end of month.

[2021-09-22 13:47] arnists opened #68 "Unable to inspect table - missing 1 required positional argument: 'collation'"
I managed to fix it by hotfixing the following line: https://github.com/microsoft/mssql-django/blob/dev/mssql/introspection.py#L115

I just hardcoded the collation and then everything worked.

[2021-09-23 19:00] absci commented on #65
I have patched Django's bulk_update in the dev branch https://github.com/microsoft/mssql-django/commit/9c63da9ef1d41b92c3d797522ac5ddef3bf03ceb.

[2021-09-23 23:21] absci commented on #68
Could you run `pip freeze` to show what's the environment looks like?

[2021-09-24 10:27] arnists commented on #68
[code]

[2021-09-24 12:20] arnists commented on #68
I might add that the SQL executed is a bit restrictive. Making the determination that TABLE_SCHEMA == SCHEMA_NAME makes assumptions that in my case threw out a lot of relevant tables. It's easy enough to fix by just monkeypatching but perhaps there should be a flag for it.

[2021-09-24 20:31] absci commented on #68
Seems you're not using this backend, try uninstall `django-mssql-backend` then `pip install mssql-django`.

Yes, there're some improvements can be done for inspectdb.

[2021-09-28 17:02] absci commented on #64
Hi, I have added support for MSI in the `dev` branch.

Simply add `"extra_params": "Authentication=ActiveDirectoryMsi",` to options. For example, https://github.com/microsoft/mssql-django/wiki/Azure-AD-Authentication#activedirectorymsi

[2021-09-29 07:23] viklele-webisdom commented on #64
Hi absci,

I am working with @shakthifuture in his project.

Thanks for the quick resolution of the issue. When is it scheduled to become part of the formal release?

Thanks.
Vikram

[2021-09-29 16:08] absci commented on #64
Hi, Next preview release is planned for the end of October.

[2021-10-07 07:05] MNielsenViteco opened #69 "Unable to generate constraints when schema is specified in a model"
Hello,

We have an implementation where schemas are specified for most of our models. But when making a constraint to any model where the schema is specified, an error is returned because of a naming issue.
The specific error is this:
django.db.utils.ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near '.'. (102) (SQLExecDirectW)")
and th

[2021-10-11 14:19] matthiasguentert opened #70 "SMux Provider: Physical connection is not usable [xFFFFFFFF] & The cursor's connection has been closed"
I am desperately trying to migrate our mysql-based Django solution to an Azure SQL database.

Steps I have performed:

* Run `python manage.py dumpdata --format json --indent 2 C:\Temp\dumb.json` to backup data from source instance using MySQL backend.

* Changed `settings.py` so it points to target Azure SQL database

[code]

* Run `python manage.py migrate` to create schema on target database (A

[2021-10-12 08:41] matthiasguentert commented on #70
This seems to be caused by pyodbc's connection pooling. When setting `DATABASE_CONNECTION_POOLING = False` it works. Why is that?

[2021-10-13 19:09] absci commented on #70
Are you running this on Windows or Linux? Also, could you run `pip freeze`, It would be helpful to know the version of pyODBC, etc.

[2021-10-14 00:24] absci commented on #69
I can reproduce this issue. In my test, when I specify a name to `db_table`, the schema is still `dbo`. I think your table is `[dbo].[vmd].[vmd_virtual_column]`. Could you run `select schema_name(schema_id) as [schema], name from sys.tables` to confirm?

[2021-10-22 15:01] chynacha opened #71 "bulk_update max batch_size reduced? (1.0b1->1.0) (COUNT field incorrect or syntax error)"
After upgrading to Django 3.2.8 and mssql-django ==1.0, existing bulk_update commands started failing with the error below.
Before I could use batch_size of like 5000 with no problem, now I get the below error unless the batch_size is set to like 10.

When reverting back mssql-django==1.0b1, (even with Django 3.2.8) the issue goes away.

Any information is appreciated. Thanks!

Traceback:

[code]

[2021-10-28 12:49] Nevin1901 opened #72 "Bad performance on Azure SQL Database"
Hi, I tried using this library with a Basic 5 DTU Azure SQL Server and I'm having to wait over 5 seconds for a simple query to go through.

I read somewhere that the horrible performance was caused by the database collation being SQL_Latin1_General_CP1_CI_AS, but I'm not sure if that really is the problem.

I'm not sure if anyone else has this problem, but any help is appreciated.

[2021-10-31 09:54] vidklopcic opened #73 "Collation issue with #Temp_params table"
If the column uses a different COLLATION than instance default, a query using this temp table will raise `django.db.utils.ProgrammingError` due to COLLATION conflict. Is there any way to circumvent this issue without changing SQL Server instance defaults?

https://github.com/microsoft/mssql-django/blob/9c63da9ef1d41b92c3d797522ac5ddef3bf03ceb/mssql/functions.py#L141

EDIT: I checked and the DB col

[2021-11-01 21:01] absci commented on #72
I tested with 5 (Basic) DTUs, 2GB Data max size, haven't experienced a similar performance issue. Are there any other applications that also connect to this database?

[2021-11-01 21:06] Nevin1901 commented on #72
Not any. The database is fast when using it though Azure Data studio, but any database adapter which I tried seemed to be extremely slow.

[2021-11-01 21:44] absci commented on #72
Does the connection still slow if you use `sqlcmd`?

[2021-11-01 23:28] absci commented on #73
I'll investigate this, maybe adding `COLLATE DATABASE_DEFAULT` when creating the temp table would fix the issue.

[2021-11-08 18:18] #50 closed

[2021-11-09 18:08] verneris commented on #71
In version 1.0rc1 this seems to happen when _the number of fields to be updated is larger than 2_ AND _the number of fields to be updated * the number of objects to be updated is larger than 1048_

[2021-11-13 14:09] martinzellner commented on #71
We also ran into this when upgrading from 1.0b1 to 1.0, so this is likely a regression (or a change of behaviour that should be mentioned in the release notes). I'm happy to provide more debug info if needed.

[2021-11-15 21:52] absci commented on #71
I can reproduce this issue. The query is somehow hitting the SQL Server 2100 parameters limit. I'll find a way to fix this.

[2021-11-16 19:47] absci commented on #69
I have fixed this in dev `7c46275` a few weeks ago, it just replaced the invalid part in _create_index_name.

[2021-11-16 19:51] absci commented on #68
I have added a `--schema` flag to inspectdb for specify the schema in `dev`  `e702c03`.

`python manage.py inspectdb --schema "your_schema"`

[2021-11-18 22:41] abrunner73 commented on #63
Hello @knickfan7 I have the same error as you.  Did you figure out what was causing it?  I am having this error when running on Apache24.  Here are the python module versions I am using.  Any advice would be appreciated.

alabaster==0.7.12
asgiref==3.4.1
Babel==2.7.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Django==3.2.9
django-debug-toolbar==3.2.2
django-mssql-backend==2.8.1
docutils==0

[2021-11-19 06:39] weikai0624 opened #75 "JSON Field model cause error during filter"
My DATABASES setting

[code]

When I use JSONField to save data like

[code]

and in view.py

[code]

if my  Profile data have 100 , it can work

if my  Profile data have 100000  , it can't work
and log is

[code]

How to resolve this problem?

[2021-11-22 13:53] timnyborg opened #76 "Timeline for a new release?"
I'm curious if there's a timeline for the next version release.  There's a couple features that have been merged in I'm anxious to use in production (especially can_rollback_ddl)

[2021-11-22 14:59] RaynoKriel commented on #56
This is awesome, would you just call the flag the same way as --database (as it currently still tells me it is not recognized)
sorry if this a stupid question ><

[2021-11-22 18:08] absci commented on #75
I'll look into this issue.

[2021-11-24 18:15] absci commented on #76
Hi, the next release is scheduled for the end of November.

[2021-11-24 18:18] absci commented on #56
Currently we haven't published a new release yet. So to try it, you have to install from the source. And don't forget to add `mssql` to `INSTALLED_APPS`.

[2021-11-26 00:19] absci commented on #75
Hi, in the view.py, how did you use the `Profile` model? and what data is stored in `list_custom`?

[2021-11-30 14:23] fvkluck opened #77 "Alter ForeignKey from non-nullable to nullable, including data migration, in squashed migration, leads to duplicate index created"
Hi all,

I recently ran into an issue when squashing migrations. The issue is that there is a duplicate index in the database. We're probably going to work around it by skipping step 3 below, but I thought it still makes sense to create an issue, in the case someone else runs into it.

I managed to find a minimal reproducible example and uploaded it [here](https://github.com/fvkluck/supreme-train)

[2021-11-30 16:39] OdifYltsaeb commented on #56
Thank you @absci ! I just found out I need this exact thing too. Thank you again!

[2021-12-01 10:37] fvkluck commented on #77
I just realised that it's not peculiar at all that it doesn't occur without step 3. When including step 3, the result of the squashmigrations is that step 2 and 4 are separate steps. Without step 3, squashmigrations will squash step 2 and 4 into a single AddField.
So the issue must be that first performing an AddField and then an AlterField with this particular field somehow creates two indices on

[2021-12-01 11:30] OdifYltsaeb commented on #56
I have another schema related case to fix - now that we can specify a schema for inspectdb. How can I specify a different schema for different databases? Each client has their own database and the schema name might be different from database to database.

Can I specify schema per database connection somehow? something like this perhaps: https://stackoverflow.com/questions/50819748/django-and-postg

[2021-12-01 15:42] #76 closed

[2021-12-01 15:59] timnyborg commented on #77
Is this after upgrading to v1.1? Because that's what I'm seeing after an upgrade, when running AlterFIeld after AddField

Migration output:
[code]

[2021-12-01 16:35] timnyborg commented on #77
Possibly also relevant.
Altering a TextField to a JSONField causes an index to be created (or attempted, at least), even if `db_index=False`.  So it seems like there may be a single bug trying to create extra single-column indices on AlterField commands.

[code]

[code]

[2021-12-02 02:20] absci commented on #77
@fvkluck Thanks for the detailed information. I'm able to reproduce this issue, it's under investigation.
@timnyborg I can also reproduce your issue, I think this is a different problem. This happened after the upgrade to 1.1. I'll also fix this.

[2021-12-02 08:09] weikai0624 commented on #75
Sorry, I update my Schema profile -> custom

Yes, I use Profile model

[code]

[2021-12-02 18:45] cgallard01 commented on #72
I had the same issue with an enterprise hosted mssql DB with a collation "SQL_Latin1_General_CP1_CI_AS".
It was only fixed by using this approach :

http://nightlyclosures.com/2019/12/06/fixing-my-dead-slow-sql-server-pyodbc-query-performance-2/

Tested with the last 1.1 release tag

[2021-12-03 02:24] absci commented on #72
Looks like it's a pyODBC design to use unicode by default. I could add a variable to `settings.py`, and let people change `connection.setdecoding`, `connection.setencoding` without overriding DatabaseWrapper.

[2021-12-04 08:14] fvkluck commented on #77
Thanks for looking into it!

[2021-12-07 06:41] OdifYltsaeb commented on #56
Allright, thanks. If there's no other way then I'll go with this one. Thank you again!

[2021-12-08 12:53] OdifYltsaeb commented on #56
I've tested it some now and things are far from perfect, unfortunately.

For example - I have included models in two different files and added their schema prefixes to their db_table configuration.

Then this happens:
[code]

where `trk` is the schema name.
Yet when I do this:
[code]

then I can loop over the selected items just fine.

Another problem is that having the same model names defined in

[2021-12-10 08:28] Imran-Hossain-Saimun opened #79 "bulk_update not working with None value got ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server]"
# Entry is a demo model, my model is similar to this

 objs = [
   Entry.objects.get(item_id=5),
]
objs[0].headline = None  // any type field set the value None
Entry.objects.bulk_update(objs, ['headline'])
# bulk update got error

"ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]At least one of the result expressions in a CASE specification must be an ex

[2021-12-10 15:44] cdgipson opened #80 "Hierarchyid field type not supported."
The hierarchyid field type is not supported.  Please add support for this field type.  If there are any known work-arounds that could get my project moving forward that would be great as well.

[2021-12-10 19:42] absci commented on #79
This issue should be fixed, please upgrade to the latest version of `mssql-django` (1.1.1).

To explain, basically SQL Server does not allow `CASE ... THEN NULL ... ELSE NULL`.
In the latest version, bulk_update takes an optional default value, this value will be used for ELSE.
bulk_update to None value will become `CASE ... THEN NULL ... ELSE 0`. You could also change this value with bulk_update(

[2021-12-13 17:21] maxschnettler opened #81 "Database migrations previously done with version 1.0 are not detected when using 1.1 or 1.1.1"
After updating to version 1.1 or 1.1.1 (without changing any other parameter), Django does not detect the already existing migrations in my database. These migrations were done using version 1.0.

I am using Django 3.2.8, running locally on macOS 11.6, Azure SQL database with a user-defined schema (default schema of the corresponding database user --> not explicitly defined or mentioned in my Djan

[2021-12-13 17:25] timnyborg commented on #77
I'm seeing the same issue after upgrading to 1.1.1 (AlterField: IntegerField -> ForeignKey).  However, it does not occur when `null=True` on the ForeignKey.

[2021-12-13 21:04] absci commented on #80
I don't think Django has a field type to match the `hierarchyid`, maybe a JSONField would be an alternative? If it's not possible to migrate data to JSON, I think you probably have to work with raw queries to manage the data.

[2021-12-13 22:14] absci commented on #77
Ok, I'll take a look.

[2021-12-14 01:14] jchang10 opened #82 "BUG KeyTransformExact applied universally for all database drivers"
https://github.com/microsoft/mssql-django/blob/9f58a0056f512ba47126221b16a5c88adc6673f8/mssql/functions.py#L277-L280

This line can't be right?! This applies to all other database drivers (such as mysql, postgresql, etc) by overriding the django.db.model files.

This should get an immediate fix. Did someone copy/paste this wrong here? Should it be this?

    KeyTransformExact.as_microsoft = json_K

[2021-12-14 03:09] absci commented on #77
@timnyborg I have created models like this and couldn't reproduce the issue.
[code]
I change default=1 to 2, or null=False to True. The migration went successfully. May I ask for a more detailed step to help reproduce it?

[2021-12-14 08:32] timnyborg commented on #77
Sure, I'll try to boil my project down to a reproducible example.

[2021-12-14 09:35] timnyborg commented on #77
Turns out it's specifically when converting an IntegerField with null=True to a ForeignKey with null=False, which is probably an uncommon thing to do.
See example migrations at: https://github.com/timnyborg/mssql_issue/tree/master/app/migrations

I've worked around the issue by updating the initial migrations to null=False.

[2021-12-14 13:02] cdgipson commented on #80
Correct.  I found a work around for this.  I added an additional varchar field on the database and exposed this new field instead of the hierarchyid field.  I then set triggers on insert and update to update the content of the hierarchyid field with that of the varchar field.

[2021-12-14 13:02] #80 closed

[2021-12-15 13:45] #71 closed

[2021-12-16 00:28] absci commented on #81
This is a little weird, I couldn't reproduce it. Back up your migration files first. Try to run `python manage.py showmigrations`, and check through your migration files with your database, see if those migrations actually applied or not. If those migrations have been applied (the table and data exist in the database), then you could do `python manage.py migrate --fake <app> <migration-number>` to

[2021-12-16 00:29] absci commented on #82
Thanks for your report, I'll fix this.

[2021-12-16 00:50] absci commented on #77
Thanks for your repro app. I'll fix this issue in the future.

[2021-12-17 23:17] manuel-rdco commented on #81
Hello.
Maybe my case could throw some light:
I was suffering the same symptoms as maxschnettler so I made a complete new install in a pod in Docker, using pip install mssql-django==1.0rc1, then made a migrate. Once everything was working again, I started debugging with level DEBUG to see the sql sentences being launched. Then I executed a manage.py showmigrations and the existing migrations in the

[2021-12-18 01:11] absci commented on #81
Thanks for the detailed information, I think I know where the problem is. The fix will come soon.

[2021-12-18 15:29] manuel-rdco commented on #81
All right. Thank you very much.

Just for clarification to other possible readers with the same problem: it appears that I made a mistake while writing the version numbers: the last working version is 1.0, which seems Ok, but 1.1 and 1.1.1 don't work for me (just as @maxschnettler said).

Thanks. Bye.

[2021-12-21 22:35] absci commented on #37
This issue should be fixed in the latest release.

[2021-12-21 22:35] #37 closed

[2021-12-21 23:09] absci commented on #14
The issue has been fixed in the latest release. Feel free to reopen if there is any other concern.

[2021-12-21 23:09] #14 closed

[2021-12-21 23:09] #73 closed

[2021-12-21 23:10] absci commented on #67
The issue has been fixed now.

[2021-12-21 23:10] #67 closed

[2021-12-21 23:12] #69 closed

[2021-12-21 23:12] #65 closed

[2021-12-21 23:13] #70 closed

[2021-12-21 23:13] #68 closed

[2021-12-27 20:22] rjschave commented on #77
Our team encountered a problem applying migrations from the Wagtail (https://github.com/wagtail/wagtail) project when using mssql-django version 1.1.  We were able to reproduce the problem without Wagtail.

Starting with a char field that allows NULL values and then modifying the field to no longer allow NULL values is enough to reproduce the problem.

Here is a link to our sample project - https:

[2021-12-29 10:35] NBajanca commented on #55
Hi, thank you both for the work so far.

To add to this issue, [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit/blob/master/CHANGELOG.md#100-2017-06-07) (over 2k stars on GitHub) introduces in v1.0.0 a migration that causes this issue:

This type of migration certainly happens with other packages because other backends don't have this limitation.

[2021-12-30 19:13] absci commented on #77
Thanks for the sample project, I could reproduce it. I'll be fixing this issue.

[2022-01-07 02:32] kenshaw commented on #81
Have the same issue. Any progress yet?

[2022-01-07 18:25] absci commented on #81
This should be fixed in the dev branch now, the next release will be at the end of January.

[2022-01-11 15:08] luzik opened #83 "FreeTDS vs 'ODBC Driver 17 for SQL Server' IntegrityErrors"
I've got some unit tests where under freetds they running fine, and with libmsodbcsql-17.8 they do not.

Unit tests are quite basic and I can reproduce it under manage.py shell. Please notice that Django tries INSERT after (failed?) UPDATE

[code]

[2022-01-12 01:27] absci commented on #83
Could you also post your models.py?

[2022-01-12 07:44] luzik commented on #83
Sure

[code]

[2022-01-12 11:07] graingert opened #84 "missing regex_clr.dll"
when running install_regex_clr I get a FileNotFoundError

[code]

It seems it was removed here https://github.com/microsoft/mssql-django/commit/eaf27e543a61d234dfe750f70ccd44c059ed9af8

[2022-01-12 14:18] sparrowt commented on #14
Many thanks @absci - I'm slightly confused why https://github.com/microsoft/mssql-django/commit/6048db24bbda7a6a6d9eef3e145e5f766e5934cb#diff-8ec363b9558cceda1508c9b4ddc74ebe8af8d41f3d70b7fdf140e35dd80a3d00R443-R444 enqueues recreation of an index regardless of whether the field actually specifies `db_index=True` or not (i.e. `new_field.db_index`) - surely the index should only be recreated if it

[2022-01-12 23:17] absci commented on #83
In your code, `objects.create` create and save it in one step, so calling save again will cause the error. This should be the expected behavior.
[code]
Here's the Django doc for creating. Not sure why FreeTDS not giving an error.
https://docs.djangoproject.com/en/4.0/ref/models/querysets/#django.db.models.query.QuerySet.create

[2022-01-13 00:30] absci commented on #84
I'll add this file to PyPi on the next release (end of January).
Release 1.0 still have this file, so you could `pip install mssql-django==1.0` and use this version to install currently.

[2022-01-13 00:38] absci commented on #14
1. Yes, you're right. There's some issue here I'm currently trying to fix it.
2. TextField and JSONField are nvarchar(max). SQL Server can't create indexes on that type, so I excluded those. I'm not sure if there are any alternatives currently.

[2022-01-13 09:28] sparrowt commented on #14
Awesome, thank you!

The tests for the original problem in this issue are now rebased and ✔ and ready to merge if you're happy: #49

[2022-01-13 10:12] graingert commented on #84
@absci there's a solution using VBScript here that might help if you don't want to ship a .dll?

https://renenyffenegger.ch/notes/development/databases/SQL-Server/T-SQL/functions/regexp/index

[2022-01-13 10:20] graingert commented on #84
sadly no licence on those source files... yet: https://github.com/ReneNyffenegger/about-MSSQL/issues/1

[2022-01-13 11:26] sparrowt opened #85 "Unnecessary index drop/recreate when renaming a column"
Hi again and thank you for your work on this!

I believe 6048db24bbda7a6a6d9e has introduced some unnecessary index drop/recreate pairs, when renaming a column, for indexes which that column does not participate in.

E.g. now in this part of `_alter_field` we have:
[code]
which seems to drop _all_ `uniq` indexes discovered by `self._db_table_constraint_names(model._meta.db_table, index=True)` for

[2022-01-13 12:08] luzik commented on #83
In my humble opinion you are wrong. I don't see why saving again should causes an error. objects.create() return this object, just like you took it using objects.get() or any other method. With such object you can update some fields and save() it again.

Please test builtin Django DB drivers like sqlite3. They work just fine with
[code]

there is nothing wrong with this code.

Please also look at

[2022-01-13 16:55] sparrowt opened #86 "Unique index lost when renaming a ManyToManyField"
### Problem
When doing `migrations.RenameField` on a field which is a `models.ManyToManyField`, the filtered `UNIQUE INDEX` (which enforces the uniqueness constraint on A_ID,B_ID pairs on the through table) is dropped before the rename, but not re-instated afterwards ⚠

### Example
So I see something like this:
[code]
and aftewards the dropped index is missing.

The lost index is the one created e

[2022-01-13 19:35] absci commented on #14
Merged, thanks for your contribution.

[2022-01-13 23:04] absci commented on #83
Thanks for clarifying, I think I misunderstood your original issue and the function for creating. I was not able to reproduce it with Django==3.2.11, mssql-django==1.1.1. The save() doesn't trigger an insert after the update in my test.
What's your environment look like, are you running this on Windows or Linux? Could you also provide the version of Django and mssql-django, pyodbc?

[2022-01-13 23:19] absci commented on #83
Here's my test in Django shell, It's a little weird to see that you have an extra insert after the update.
[code]

[2022-01-14 06:52] MSoup opened #87 "How to work with limitation "Altering a model field from or to AutoField at migration" not supported?"
Forgive me if this is a Django issue and not a mssql-django issue. I'm trying to find hints as to why I'm unable to have model instances with ids auto generated by django.

I have an existing db. I've ran `manage.py inspectdb` and copied the generated models over to models.py. Is the limitation in the title saying that I need to manually comb through these generated models and change intfields to

[2022-01-14 08:58] graingert commented on #84
The files are now available under the MIT license https://github.com/ReneNyffenegger/SQL-Server-helpers/tree/master/regexp

[2022-01-15 00:57] absci commented on #85
Thanks for the suggestion, I'll do more optimizations for this in the future.

[2022-01-15 01:11] absci commented on #84
Thanks, `regex_clr.dll` will be included in all future releases in PyPi. I'll also take a look of the `SQL-Server-helpers` repo you mentioned.

[2022-01-17 09:14] luzik commented on #83
I figured out that, this is somehow related to trigger after update on this table! Trying to isolate bug for you.

[2022-01-17 18:29] absci commented on #86
Thanks for the added unit test.

[2022-01-17 20:25] absci commented on #87
The limitation is when you alter existing fields from/to Autofield, which is not your case.
But, I couldn't reproduce the issue, clerk.clientid should be None until save called. You shouldn't have to assign a value to clientid. Could you post the original SQL query that create this table? What version of mssql-django you're currently using?

[2022-01-18 00:58] MSoup commented on #87
Thank you for your response.

I have since made a lot of progress since my original post. I don't remember what the original SQL query would have been, but the issue was that the MSSQL table, Clerks, did not have clientid set to Identity = True; this meant that clerk.save() would try to save whatever I specified, even if clientid was set to be the primary key.

The root issue that brought about th

[2022-01-18 00:58] #87 closed

[2022-01-19 13:28] luzik commented on #83
Please checkout https://github.com/luzik/mssql_83. There is easy to reproduce bug code

[2022-01-19 17:13] absci commented on #83
Thanks for creating this repo, I'll take a look.

[2022-01-19 20:53] adhamselman opened #89 "consider setting ARITHABORT in init_connection_state"
https://docs.microsoft.com/en-us/sql/t-sql/statements/set-arithabort-transact-sql?view=sql-server-ver15#remarks

[2022-01-21 21:09] jean-frenette-optel opened #90 "Filtered Index referencing many fields prevents changing nullability of indexed foreign key to null"
Given these Django models where a **Question** may have many **Choices** :

[code]

The resulting migration of **choice** table is like so (question_id FK is not nullable as expected, with a corresponding index correctly created) :

![image](https://user-images.githubusercontent.com/95249592/150595343-a080a628-fc9a-4c3d-bec4-6551d6d20a1f.png)

Now, applying this change (changing the nullability of

[2022-01-21 22:15] absci commented on #89
Thanks for the suggestion, I'll look into it.

[2022-01-21 23:49] Eboreg opened #91 "UniqueConstraint creation with composite condition fails"
## The problem

We are unfortunately still running Django 2.2.24 (an upgrade is in the pipeline, but you know ...). DB is an Azure SQL Server instance. Backend is a completely fresh pip install of mssql-django 1.1.1. I am trying to create a conditional UniqueConstraint on model `schools.School`, looking like the following:

[code]

So the logic is: "only enforce this constraint if `city` is neithe

[2022-01-24 14:47] rjschave commented on #91
@Eboreg

You mentioned your condition works fine in a regular query, but not a unique constraint.  There seems to be a limitation on the keywords that can be used in the WHERE clause of unique constraints.  I learned that the OR keyword is not allowed ( more info here - https://github.com/wagtail/wagtail/issues/6393).  It's possible the NOT keyword is also not supported.

I wonder if this project

[2022-01-24 16:01] Eboreg commented on #91
@rjschave Thanks. Judging from [this](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15#syntax-for-sql-server-and-azure-sql-database), it does indeed look like you're correct; filter predicates can only be joined by AND, and not prefixed by NOT.

Of course, the condition in my initial constraint could be rewritten as:

[code]

or something along

[2022-01-24 16:33] sparrowt commented on #86
I have pushed the proposed fix to the same PR: https://github.com/microsoft/mssql-django/pull/88, let me know what you think

[2022-01-25 01:35] absci commented on #90
I can reproduce this issue, I think you're right, it's only working one direction currently. Your solution looks good to me, it would be better if you could also add a unit test. Would you like to make a pull request?

[2022-01-25 17:41] mihalikv opened #92 "Unable to use with another backend"
Problem is that if you want to use multiple backends in the same Django app for example Mssql together with oracle DB, code like this
https://github.com/microsoft/mssql-django/blob/master/mssql/functions.py#L274
totally override functionality and it is impossible to use Oracle connector.

Trace:

[code]

[2022-01-26 09:51] luzik commented on #83
Any news on this? Are you able to reproduce a bug ?

[2022-01-27 03:00] absci commented on #83
I'm able to reproduce it. Somehow it failed to update with the trigger, and Django tried to insert again. This also happens when I perform a raw query with cursor.execute, the cursor.rowcount returns 0 after the update.
A possible workaround might be deleting the trigger and update `SpanMeasHist` `SpanMeasLast` after `TASE2AnalogInput` with a Python function. I'll investigate it a bit further late

[2022-01-27 08:36] aemhca commented on #90
We had the same issue thanks for solving this :)

[2022-01-27 10:16] luzik commented on #83
Please notice, that switching to FreeTDS also fix issue - that's my workaround. You can try this simply by uncommenting out dsn in settings (You will also need to run this inside prepared docker image, or prepare your own freetds configuration)

[2022-01-27 17:38] adhamselman opened #94 "consider implementing can_return_ids_from_bulk_insert feature"
https://docs.microsoft.com/en-us/sql/t-sql/queries/output-clause-transact-sql?view=sql-server-ver15

[2022-01-28 06:08] absci commented on #92
Thanks for the report, we'll fix this issue in the future.

[2022-01-31 23:04] absci commented on #94
Thank you for the feature request, we will review it.

[2022-02-08 20:35] pettermk opened #99 "Using azure cli token for authentication"
Hi,

In relation with the MSI support that was recently introduced, I want to suggest an enhancement which we have been testing a bit. For seamless switching between local development and production environments, it would be useful if a developer could use the typical azure cli credential flow to authenticate with the database. So, when running in production it would check the managed service iden

[2022-02-11 00:49] absci commented on #99
Sure, it sounds good, feel free to make a pull request.

[2022-02-15 14:16] rubendv opened #100 "Alter unique, nullable field to non-unique, nullable fails"
When a field is nullable and unique, a filtered index is created to enforce uniqueness instead of a unique constraint.
But when the field is made non-unique and still nullable, the generated SQL uses DROP CONSTRAINT instead of DROP INDEX, which doesn't work.

In our case this happened when changing this model:

[code]

To this model:
[code]

Probably also happens without the unique_together but by

[2022-02-15 14:19] rubendv commented on #100
This commit fixes the immediate issue for us, but is probably incomplete: https://github.com/Awingu/mssql-django/commit/6ff4298ca22f1bd0436b9f1ce6dbe9ace8ea1bc0

[2022-02-16 09:41] Makulasam opened #103 "Microsoft django"

[2022-02-16 19:43] vwarchu commented on #54
We should revisit this in terms of appropriate documentation

[2022-02-17 08:48] rubendv opened #104 "Removing unique together constraint created by django-pyodbc-azure fails"
When removing a unique together constraint, the generated SQL uses DROP INDEX, which produces the following error:

`django.db.utils.ProgrammingError: ('42000', "[42000] [FreeTDS][SQL Server]An explicit DROP INDEX is not allowed on index 'mymodel_field1_field2_uniq'. It is being used for UNIQUE KEY constraint enforcement. (3723) (SQLExecDirectW)")`

If it uses `ALTER TABLE <table> DROP CONSTRAINT

[2022-02-17 16:40] rubendv commented on #104
I sketched out a more complete solution here: https://github.com/Awingu/mssql-django/commit/7c91d3bebfa089fe6c348e62c07dc71f7f353bef, I still need to test this and I will make a PR when it seems ok.

[2022-02-17 17:00] #81 closed

[2022-02-17 18:50] jmah8 commented on #103
I was wondering if you forgot to include a comment in your issue since there is no description right now?

[2022-02-17 19:38] absci commented on #100
Hi, I couldn't reproduce this. Is it also migrated with `django-pyodbc-azure` before like you mentioned in #104?
We'll investigate this issue, it's better to have a fix anyway for people switched to `mssql-django`.

[2022-02-17 19:46] #99 closed

[2022-02-18 10:32] rubendv commented on #100
Yes you’re probably right. In the meantime I’ve noticed that django-pyodbc-azure uses unique constraints whenever possible (not null) while mssql-django seems to always use unique indexes even if all columns are not null, and that is what is causing these issues.

[2022-02-18 17:14] absci commented on #84
Hi, for the latest release 1.1.2, the regex_clr.dll in included in the package.

[2022-02-18 17:14] #84 closed

[2022-02-18 23:11] absci commented on #104
It makes sense to detect whether it's an index or constraint to drop. Feel free to make a PR when you're ready.

[2022-02-18 23:15] #79 closed

[2022-02-19 00:11] #72 closed

[2022-02-23 13:28] jean-frenette-optel commented on #94
Hi, I just submitted this Draft PR for this issue :
https://github.com/microsoft/mssql-django/pull/107

[2022-02-25 13:33] jwaschkau opened #109 "order_by on relationship not working for default ordering"
Django: 3.2.12
mssql-django: 1.1.2
SQL Server: 15.0.4153.1

When using

[code]

i get following error:

[code]

Seems to be a similar problem to [mssql/compiler.py](https://github.com/microsoft/mssql-django/pull/21)

I will provide more information on this issue at a later date if needed.

[2022-02-28 15:16] rjschave opened #110 "Unique Index is not dropped"
When a field is changed from nullable to non-nullable, a unique index is created by the migration.  Rolling the migration back fails because the unique index is not removed.  The field cannot be changed because the unique index still depends on the field.

I encountered this issue with the Wagtail project.  I created a project to document steps to reproduce the issue - https://github.com/eclipseco

[2022-03-01 19:29] absci commented on #109
Could you provide some more info about your models.py? I couldn't reproduce it with a simple CharField and DateTimeField for ordering.

[2022-03-02 11:51] jwaschkau commented on #109
@absci After taking some time creating an example project the problem seems to be using select_for_update() for a query later used in a filter function. I uploaded a sample project to https://github.com/jwaschkau/django-mssql-issue109

The problem is the select_for_update() in following row https://github.com/jwaschkau/django-mssql-issue109/blob/53535de93ce5a88b2cbac508fe491f0b692dde63/issue109/te

[2022-03-02 11:52] jwaschkau commented on #109
The workaround i am currently using is resetting the ordering by calling order_by()

[2022-03-03 01:56] absci commented on #110
Thanks for the reproduce repo, I'm able to follow the steps and got the same error. We'll investigate this issue and propose a fix.

[2022-03-04 19:07] #103 closed

[2022-03-04 19:12] #82 closed

[2022-03-04 19:13] #92 closed

[2022-03-04 19:44] #100 closed

[2022-03-04 22:59] absci commented on #86
Close as the fix has been merged.

[2022-03-04 22:59] #86 closed

[2022-03-07 23:58] jmah8 commented on #54
Added Always Encrypted documentation to the [wiki](https://github.com/microsoft/mssql-django/wiki/Always-Encrypted).

[2022-03-07 23:58] #54 closed

[2022-03-14 18:16] 0xUnicorn opened #114 "Connect Django 4.0 in Azure Web App Linux/Container to Azure SQL not working"
I have spend the past days trying to accomplish the following:

Deploy Django 4.0 app to Azure Web App Linux from Azure DevOps Pipeline.
Connect the app to Azure SQL.

It all works fine locally when starting manage.py it connects to the Azure SQL.

My issue though is I'm using Azure Artifacts for a private PyPI, so I can't use oryx for building my env, since PipAuthenticate isn't supported.
If I b

[2022-03-14 18:40] 0xUnicorn commented on #114
All it took was opening this issue and it resolved it self. Not entirely, but almost.

I created a new commit and triggered my build pipeline building the container, and afterwards a deploy pipeline for publishing the container to ACR.

Then my App Service for container started the docker image and after some time, it returned this error.
So I send a new request to my App Service and this time it

[2022-03-15 18:12] jmah8 commented on #110
This was fixed in PR #93 and will be in the next release.

[2022-03-15 20:23] absci commented on #114
Does your Azure SQL have enabled features like auto-pause? I think some people had this timeout issue when auto-pause is enabled. You could also use a custom manage.py file to retry the connection if needed.

[2022-03-16 18:36] #2 closed

[2022-03-16 18:42] absci commented on #77
The issues have been fixed in `dev`. Feel free to reopen if there's any further concern.

[2022-03-16 18:42] #77 closed

[2022-03-16 18:52] #85 closed

[2022-03-18 13:27] 0xUnicorn commented on #114
Thanks, of course it makes sense. I've disabled auto-pause now. Thanks for the advice

[2022-03-18 13:27] #114 closed

[2022-03-22 17:07] jmah8 commented on #59
I was looking through some old issues and came across this, but I could not reproduce this problem using the following models and then saving two Restaurants with null place.
[code]
A nullable OneToOneField with multiple nulls in a column seems to work.

[2022-03-23 10:37] sparrowt commented on #86
Thanks @absci - is there any chance of a new release soon please?

I'm hoping to officially start using this project as soon as it is published, and don't really want to start building my own wheels.

[2022-03-24 15:45] tspanos commented on #56
There seems to be a bug when a specified schema contains a table name that also exists in the default schema. Instead of extracting the column names from the specified schema, inspectdb extracts the columns from the default schema. The issue stems from the function that retrieves the table description as it does not specify the schema when requesting the table's columns.

    def get_table_descrip

[2022-03-25 11:04] sparrowt commented on #86
Unfortunately this is blocking us as follows:
 - we cannot upgrade to this fork `microsoft/mssql-django` (from `ESSolutions/django-mssql-backend`) until a new version is released with the fixes which are already in `dev`
 - we cannot upgrade to Django 3 until we have done the above upgrade (because to get Django 3 support, we would need to upgrade and get at a minimum [all of these changes](https:

[2022-03-28 17:58] jmah8 commented on #110
I am going to close this issue since it seems to be fixed but feel free to reopen it if there are still issues.

[2022-03-30 16:11] vwarchu commented on #86
@sparrowt - Thanks for the context. Our team is now aiming to release by end of April, sooner if possible. We'll keep you posted.

[2022-03-30 17:44] absci commented on #109
This issue is fixed in dev, I'll be included in the next release.

[2022-03-30 17:44] #109 closed

[2022-03-30 18:31] jmah8 commented on #59
I am going to close this issue for now but feel free to reopen it if there are still issues.

[2022-03-30 18:31] #59 closed

[2022-03-31 11:58] sparrowt commented on #86
Many thanks @vwarchu!

[2022-04-06 16:22] anrub opened #118 "The data types nvarchar(max) and ntext are incompatible in the equal to operator"
I am using the acme2certifier project with mssql-django database backend, and there is the following error thrown:

[code]

The columns in the table are all `varchar(max)`, so I was wondering from where the ntext may come into play?

[2022-04-08 17:31] absci commented on #118
That's weird, this backend doesn't use `ntext`. I'm not sure how the acme2certifier project works, do you have some sample code to reproduce this error?

[2022-04-14 14:56] gagtomm1 opened #119 "Checking exists() an a query with Count annotations compiles to unsupported SQL."
I've got this query
[code]
Trying to execute it using 1.1.2 cause this error
[code]
The SQL generated by the lib is
[code]
I'm not sure why `(1)` is included in the `GROUP BY` clause, I was expecting something like
[code]

[2022-04-15 14:42] marcperrinoptel commented on #119
NB: from what I see on PostgreSQL, it also generates that weird `(1)` in the `GROUP BY`.

[code]

which works, but does the same as without the `, (1)`, so I feel like it's just luckily robust...
Along with the existence of that kind of ticket [https://code.djangoproject.com/ticket/24835](https://code.djangoproject.com/ticket/24835), I'd say this is probably a bit of a **Django bug** - without con

[2022-04-16 06:24] absci commented on #119
Thanks for the report, I'll take a look at this issue.

[2022-04-20 00:25] absci commented on #119
I was able to reproduce this error. It's indeed a Django design. https://github.com/django/django/blob/470708f50d8c13a50770893b8d7181f5218bf3ac/django/db/models/sql/query.py#L585
We should be able to override it and fix the syntax here.

[2022-04-20 13:13] marcperrinoptel commented on #119
The extra `{"a": 1}` probably makes sense for this `exists` design (along with the `limit 1`), but I'm curious how/why it's automatically used in the `group by`, I'll take a closer look.

[2022-04-20 15:50] marcperrinoptel commented on #119
Yeah I mean, here https://github.com/django/django/blob/6b53114dd862ec97c282fdfdc83579cbd6d1560d/django/db/models/sql/compiler.py#L135 the "raw 1" from the `select` is automatically pushed to the `group by`.
The comments in this `get_group_by` method are interesting; I still feel like hard values / non-column select expressions should not be pushed to the `group by`.

I can maybe open an question

[2022-04-20 21:11] absci commented on #119
Sure, feel free to submit to Django if you think it's appropriate for them to fix it. I also prefer not to override too much of Django code in the backend.

[2022-04-20 21:23] marcperrinoptel commented on #119
Yeah, the Django point of view in the present case might very well be "... well, it works!" but hopefully it's clear enough that it works by sheer luck, that a fix is warranted.

[2022-04-26 15:15] marcperrinoptel commented on #119
[https://code.djangoproject.com/ticket/33655](https://code.djangoproject.com/ticket/33655) is now closed (the fix will probably hit 4.0.x?), I think we can close this issue too

[2022-04-26 15:42] #119 closed

[2022-04-28 22:30] vwarchu commented on #86
@sparrowt - We've now released version 1.1.3 which includes the aforementioned merges. Cheers

[2022-04-29 03:40] Pandaaaa906 opened #125 "Limit/Offset clause didnot consider old version of sql server like 2008 in v1.1.3"
might related by [#117](https://github.com/microsoft/mssql-django/pull/117)

[2022-04-29 23:55] jmah8 commented on #125
Thanks for the report, we are discussing this internally.

[2022-05-01 17:11] sg3-141-592 commented on #55
Yes, the same issue happens when working with [Django-Tables2](https://github.com/jieter/django-tables2). To use MSSQL with it I've been using a fork from here [django-pyodbc-azure - Implement altering Autofield #189](https://github.com/michiya/django-pyodbc-azure/pull/189) which never got merged into the django-pyodbc-azure/django-mssql-backend trunk.

[2022-05-03 15:36] sparrowt commented on #86
That's brilliant, thank you!

[2022-05-03 15:42] sparrowt commented on #86
P.S. is it expected that https://github.com/microsoft/mssql-django/compare/1.1.3...dev (and https://github.com/microsoft/mssql-django/compare/master...dev) still shows all those commits as missing from master/1.1.3 (and https://github.com/microsoft/mssql-django/compare/1.1.2...1.1.3 only has 1 commit)?

Perhaps because https://github.com/microsoft/mssql-django/pull/124 was squash-merged?

It would

[2022-05-03 17:43] debadatta-tiger-analytics opened #127 "Django ORM returns non-iterable object"
The model is-
class WeeklyStrMst(BaseModel):
    StoreId = models.AutoField(primary_key=True)
    TDLinx_No = models.IntegerField(blank=True, null=True, default=None)
    Week = models.IntegerField(blank=True, null=True, default=None)
    Week_Number = models.IntegerField(blank=True, null=True, default=None)
    Year = models.IntegerField(blank=True, null=True, default=None)
    Category = models.

[2022-05-05 12:33] timnyborg commented on #127
The reason will be a hard technical limitation in MSSQL - you cannot excede 2100 parameters in a query, so trying to supply a list of 6000+ will fail, whether you're using Django or running SQL directly against the database.

You should be using a Subquery if at all possible.  See https://docs.djangoproject.com/en/4.0/ref/models/expressions/#subquery-expressions

[2022-05-05 12:36] sparrowt opened #129 "Master branch missing commit history"
As noticed and raised here https://github.com/microsoft/mssql-django/issues/86#issuecomment-1116247696 I think the master branch has been - perhaps unintentially - deprived of some useful commit history due to #124 being squash merged.

Resulting issues:
 - git blame will be less useful in future on master with changes being attributed to the "Prepare for 1.1.3 release" commit instead of the origi

[2022-05-05 15:04] debadatta-tiger-analytics commented on #127
@timnyborg we have converted to raw sql queries and its taking 25k values in list at a time. In your opinion which is the optimal way with respect to performance, Django queryset(2100 values only as parameter) or raw sql query?

[2022-05-05 15:04] debadatta-tiger-analytics commented on #127
@timnyborg which db allows us to pass maximum values as a list? That will be great help.

[2022-05-05 18:08] jmah8 commented on #129
Yes, you are correct about that. We accidentally squash committed. We are planning to fix it during the next release, but we can fix it sooner if you prefer.

[2022-05-06 05:53] debadatta-tiger-analytics commented on #127
Is there any way to override this feature? @timnyborg

[2022-05-06 16:35] jmah8 commented on #127
timnyborg is correct, MSSQL has a max of 2100 parameters. We will investigate the performance of using Django compared to raw sql and overriding the 2100 limit.

[2022-05-06 20:43] jmah8 commented on #127
@debadatta-tiger-analytics I could not reproduce this using version 1.1.3. If you haven't already could you check to see if the latest version fixes it?

[2022-05-07 08:25] debadatta-tiger-analytics commented on #127
@jmah8 django.VERSION is (3, 1, 2, 'final', 0). Were you able to pass more than 2100 values in an array as param?

[2022-05-09 06:28] debadatta-tiger-analytics commented on #127
@jmah8 I have updated the version, let me check. Interesting.

[2022-05-09 11:29] timnyborg opened #130 "Insert on tables with triggers fails in 1.1.3"
As of 1.1.3, when I attempt to insert rows on tables with triggers through a standard model.save(), I receive the error "The target table 'email' of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause."

I assume this is due to https://github.com/microsoft/mssql-django/pull/107, which has replaced the SCOPE_IDENTITY with an OUTPUT INSER

[2022-05-10 08:24] debadatta-tiger-analytics commented on #127
@jmah8 its working after the update, thank you.

[2022-05-10 08:24] #127 closed

[2022-05-10 22:06] jmah8 commented on #130
Thanks for the report. I can reproduce this issue.

[2022-05-19 08:58] 9Shuck opened #132 "API Working on local but not on App Service Deployment [Django]"
Hi! I've coded an API with Django Rest Framework that is connected to an azure DB.

The thing is that everything is working fine locally but when I deploy the app to App Service the endpoints that access the DB don't work. If I create a simple endpoint that returns 'Hello world' and it doesn't need to access the DB it works, but when I try to login it doesn't work.

I'm receiving this error: **('0

[2022-05-19 22:29] jmah8 commented on #125
SQL Server 2008 is no longer supported. OFFSET was added in SQL Server 2012. Could you update to a newer supported version of SQL Server?

[2022-05-20 09:49] 9Shuck commented on #132
Sorry but where should I install it? I took a look into it and I cannot install ODBC Driver inside App Service. But I have everything inside the requirements.txt and the app works if I not access to the DB. There are any logs I can share to make your help easier?

Thank you so much!

[2022-05-20 16:33] jmah8 commented on #132
No problem. I am closing this issue but feel free to reopen this issue if you are still having similar issues or making a new issue if you are having other issues.

[2022-05-20 16:33] #132 closed

[2022-05-24 09:37] MohammedBajuaifer opened #134 "Add native support for UUID data type"
I keep getting this error **[Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Conversion failed when converting from a character string to uniqueidentifier.**

And the problem is because mssql-django does not use uniqueidentifier as the data type for UUIDFields,

I change the _has_native_uuid_field_  to True and it's working. Also created a PR #135

Is there any reason to why this is not suppo

[2022-05-24 21:18] jmah8 commented on #134
The reason this is not supported by default is because mssql-django uses **char(32)** not **uniqueidentifier** as the **UUIDField** which can be seen in
https://github.com/microsoft/mssql-django/blob/5823873bf207637cb6cd2eb22975e189e49fad0a/mssql/base.py#L118

By just changing the _has_native_uuid_field_ to True it causes some unit test to fail, which is why PR #135 is failing the pipeline.

[2022-05-24 23:29] 3skr0 opened #136 "Datetimeoffset support ?"
Accessing a model in the admin page that has a field mapped as datetimeoffset gives :

"ODBC SQL type -155 is not yet supported"

While using freetds driver.

I m trying odbc driver 17/18

[2022-05-25 07:47] 3skr0 commented on #136
I did a quick patch that seems to work at least by READ

in base.py adding:

[code]
then in get_new_connection() method, before the return adding:
[code]

[2022-05-25 08:09] MohammedBajuaifer commented on #134
Hello @jmah8, thanks for clarifying. Is there way to overrwrite it?

[2022-05-25 17:50] jmah8 commented on #136
You are correct for using an output converter function for adding support for datetimeoffset. We are also planning on adding support for this in the next release.

[2022-05-26 15:37] sparrowt opened #137 "AlterField fails if unique_together created by old backend"
## Problem steps
- have a database created & migrated using an older version of this backend (`django-pyodbc-azure` & `django-mssql-backend` < v2.6.0) which implements `unique_together` with a table `CONSTRAINT`
- start using a newer version of the backend code which implements `unique_together` using a filtered unique `INDEX` instead
- add a migration which does `AlterField` to change the type/nu

[2022-05-27 09:02] sparrowt commented on #137
Test + fix: https://github.com/microsoft/mssql-django/pull/138

[2022-05-27 17:43] jmah8 commented on #137
Thanks for the detailed report and submitting a PR. We will review it shortly.

[2022-05-27 20:16] #137 closed

[2022-05-28 12:15] MartinSchmidt123 opened #141 "Fulltext search"
Hi, I have a column with a fulltext search index and would like to use the MSSQL `CONTAINS` function to query it.

By default, mssql-django generates a query using `LIKE`, see [here](https://github.com/microsoft/mssql-django/blob/dev/mssql/base.py#L136):

[code]

However,  there also seems to be [code](https://github.com/microsoft/mssql-django/blob/dev/mssql/operations.py#L229) to generate a `CONT

[2022-05-30 20:18] jmah8 commented on #141
It looks like fulltext_search_sql() was removed in Django 1.10 [(source)](https://docs.djangoproject.com/en/4.0/internals/deprecation/#section-7) so that method can't be used anymore.

[2022-05-31 17:08] jmah8 commented on #125
I am going to close this issue as SQL Server 2008 is unsupported. Feel free to open a new issue if you are encountering the same issue with newer versions of SQL Server.

[2022-05-31 17:08] #125 closed

[2022-05-31 21:19] #118 closed

[2022-05-31 21:24] #94 closed

[2022-06-03 23:40] jmah8 commented on #55
Closing this issue as PR #128 fixes this and has been merged into dev.

[2022-06-03 23:40] #55 closed

[2022-06-07 16:45] jmah8 commented on #129
This is fixed by PR #146. I am going to close this issue, but feel free to reopen it if there are still concerns about the commit history.

[2022-06-07 22:46] jmah8 commented on #136
Closing this issue as support for datetimeoffset has been added in PR #140 and will be included in the next release.

[2022-06-07 22:46] #136 closed

[2022-06-10 17:26] jmah8 commented on #125
Unfortunately, since SQL Server 2008 is end of life we cannot install it for testing purposes without it getting flagged as a security concern. Since we do not want to add code that can't be tested, we aren't planning to make any changes that affect only SQL Server 2008.

[2022-06-11 08:50] Pandaaaa906 commented on #125
@Alukardz you could just use an older version, it kinda ok

[2022-06-13 16:10] #56 closed

[2022-06-13 16:11] #90 closed

[2022-06-13 16:11] #64 closed

[2022-06-13 16:12] #104 closed

[2022-06-14 14:07] vindevoy opened #149 "Not working with MSSQL on Linux"
I'm running on Mint on my desktop and for local development, I installed MSSQL.

I can connect to the database using e.g. DataGrid from Jetbrains.  The version using SELECT @@VERSION is

[code]

I'm using Poetry for my dependencies.  The versions installed are:

[code]

I am trying to connect Django to this server.  As Microsoft details on the website:

https://docs.microsoft.com/en-us/samples/azu

[2022-06-14 19:51] jmah8 commented on #149
This is because we don't currently support  SQL Server 2022, but are planning to. Using an older supported version of SQL Server like 2019 should work and not throw that unsupported version error.

[2022-06-18 20:54] epomatti commented on #149
@jmah8 thanks for the tip.

Will this imply any compatibility issues with Azure SQL Database?
Also, any roadmap for version 2022 support?

[2022-06-19 18:45] vindevoy commented on #149
Installing an older version of SQL Server does not work as smoothly as expected.

- With the normal repo file, you can only install the latest version, which is 16 or 2022, however you call it.  It would be nice if you could say "apt install mssql-server-2019"
- I downloaded it manually as a .deb package.  After installing the server did not run because the daemon was crashing.  I manually removed

[2022-06-21 16:08] djogo16 opened #151 "Connecting from Linux Server Using Service Account"
Is there a way to configure connection to SQL Server using non-Azure LDAP accounts? I have a service account that is part of a LDAP group and tried the connection details below,  inspired by https://github.com/microsoft/mssql-django/wiki/Azure-AD-Authentication

DATABASES = {
	    "default": {
	        "ENGINE": "mssql",
	        "NAME": "default",
	        "USER": serviceAccountID
	        "PASSW

[2022-06-22 00:51] jmah8 commented on #149
@epomatti Azure SQL Database usually doesn't have issues when it is updated. Unfortunately there is no roadmap for SQL Server 2022 support yet but we are planning on supporting it.

@vindevoy Thank you for taking the time to detail the steps you took. This will be helpful for others in a similar situation.

[2022-06-22 22:06] jmah8 commented on #151
Hi, I was wondering what you mean when you say "non-Azure LDAP account". Is it regular Active Directory, Kerberos, or something else? Could I also get some more information about your setup to know what you are trying to do?

[2022-06-27 19:34] djogo16 commented on #151
Hi, by non-Azure LDAP group I meant a regular Active Directory on Windows.  We have regular windows AD for users and service accounts. We created a service account ID and password, added to an existing AD group on windows. Now we're trying to use that service account to authenticate to a mssql server database that our django application uses.

My setup:

Django 3.2 running on RHEL 7.9.
Trying to u

[2022-06-28 15:56] nchurkin opened #154 "Incorrect query on SQL Server 2008 R2 (OFFSET clause)"
I'm trying to use Django with old system using MS SQL 2008 R2. I'm using ODBC Driver 17 for SQL Server for mssq-django (1.1.3).

When I making first migration before describing models I have an error:
`
pyodbc.ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'OFFSET'. (102) (SQLExecDirectW); [42000] [Microsoft][ODBC Driver 17 for SQL

[2022-06-29 16:16] paxw-panevo opened #155 "Model.objects.bulk_create() does not return PK's"
In the [django docs](https://docs.djangoproject.com/en/3.0/ref/models/querysets/#bulk-create) for bulk_create(),

Can the mssql database backend support this?

[2022-06-29 18:39] jmah8 commented on #154
SQL Server 2008 is end of life and no longer supported by us. Since OFFSET was added in 2012 could you update to a newer version of SQL Server? If not you could try downgrading mssql-django as another user had the same issue as you and said it is kind of ok.

[2022-06-29 20:48] jmah8 commented on #155
Yes, the mssql backend does retrieve and set the primary key when using bulk_create() in version 1.1.3

[2022-06-29 20:48] #155 closed

[2022-07-04 15:47] marcperrinoptel opened #156 "Problems with the 2100 parameter limit"
That SQL Server limitation is painful indeed; the current code to work around it involves temporary table `#Temp_params`, `max_in_list_size`, `split_parameter_list_as_sql`, but breaks _very_ easily with simple test cases.

Here are 2 examples:

- **Test case 1**
[code]
The behavior here is that:
      - temporary table `#Temp_params` is created > filled with `range_a` > deleted > filled with `rang

[2022-07-11 20:33] jmah8 commented on #156
Thanks for raising this issue and giving a detailed explanation. We are discussing this issue internally.

[2022-07-12 21:08] jmah8 commented on #154
I am going to close this issue now but feel free to open a new issue if you are having other issues.

[2022-07-12 21:08] #154 closed

[2022-07-14 22:29] jmah8 commented on #149
I'm going to close this issue now but feel free to reopen it if you are still having issues.

[2022-07-14 22:29] #149 closed

[2022-07-15 13:00] marcperrinoptel commented on #156
Yeah, as far as I know, the main scenario for which that mechanism was designed (prefetch) does not trigger those problems (concurrency could still be an issue though? in case insertion into + read from the temp table is not atomic); if you do run into those problems, you probably could have done better anyway (e.g. subquery instead of evaluation). Still, it's a gap with other backends / interesti

[2022-07-20 18:25] jmah8 commented on #151
I am going to close this issue but feel free to reopen it if you are still having issues.

[2022-07-20 18:25] #151 closed

[2022-07-21 20:44] jmah8 commented on #130
Closing this issue since a workaround for this error was introduced in PR #158. If there is a trigger in a database you can add "has_trigger": True to the OPTIONS dictionary eg:
[code]
It is false by default so if other databases don't have triggers nothing needs to be added. This workaround prevents returning rows from bulk insert when `has_trigger = True` though.

[2022-07-21 20:44] #130 closed

[2022-07-27 19:59] powelleric opened #159 "unicode_results Invalid connection string attribute login timeout"
I am experiencing login timeouts occasionally.  I did an ODBC trace and got:

[code]

I checked and I can't find any documentation about `unicode_results` as a connection string parameter.

[2022-07-28 17:35] jmah8 commented on #159
unicode_results is not from the ODBC driver but from pyodbc which we use in this project. The default is `False` so it appearing in the connection string is expected. For example here is an ODBC trace from my machine:
[code]
and I am not getting the same errors as you. This may be an issue with your setup. What version of SQL Server and pyodbc are you using?

[2022-07-28 19:23] powelleric commented on #159
I'm a bit confused, then.  Are you saying this module isn't responsible for adding it to the connection string? Seems like it is added to the connection string by this module around this line: https://github.com/microsoft/mssql-django/blob/e2fd494ae9537f98a905f8de7a15930e391246c6/mssql/base.py#L340

Can you link me to any documentation showing that unicode_results is a valid parameter for the conn

[2022-07-28 19:31] #159 closed

[2022-07-28 19:57] jmah8 commented on #159
FYI if you are using SQL Server 14 it may be because SQL Server 14 uses an out-dated SSL version [source](https://github.com/r-dbi/odbc/issues/460). Also pyodbc 4.0.34 is broken and while I don't see people using 4.0.34 having the same issue as you, maybe downgrading to 4.0.32 could help.

I am more than happy to try to reproduce this and help you solve this issue if you want.

[2022-07-29 16:16] massoudrahimzadeh commented on #22
I have the same issue, following..

[2022-08-03 19:57] jmah8 commented on #130
Some updates regarding this issue, after some internal discussion we decided to change the workaround so that inserting into tables with triggers follows the behaviour from v1.1.2 (works by default). So instead of `has_trigger` we replaced it with `return_rows_bulk_insert` as an option in the `OPTIONS` dictionary. It is false by default and when false it allows for inserting into tables with trigg

[2022-08-09 16:18] Jamztown opened #162 "Django 4.1 support?"
Are there any plans to update this package to utilize Django 4.1 that just came out? Doing some extremely basic testing I got it to function by messing with the install order and changing just a couple of lines. But more testing is definitely required to see if any real updates are needed to this package to keep it compatible with 4.1

[2022-08-09 19:07] jmah8 commented on #162
Yes there are plans to support Django 4.1. We are currently doing some testing to see what needs to be updated to support Django 4.1.

[2022-08-10 22:42] gagtomm1 opened #164 "Removing a Foreign Key constraint drop the index"
Consider the following models
[code]
This "song" table will have an index on the FK
![image](https://user-images.githubusercontent.com/42979310/184026586-7a2c4878-ed1f-4f1b-b782-954565184911.png)

Then we'll drop the constraint using the `db_constraint` parameter
[code]

The migration file generated by django will contain an `AlterField` operation.
With this driver, the migration will also drop th

[2022-08-11 14:03] marcperrinoptel opened #165 "allow_cascade option not used in sql_flush"
See https://github.com/microsoft/mssql-django/blob/fe3ee18f8ae7975bf12934796a8ddae01225a1af/mssql/operations.py#L383

Right now, **we don't use `allow_cascade` at all** (seems to also be the case of mysql, but postgresql / oracle / sqlite all use it)

Which means we can end up in **bad situations** (in terms of data integrity), because we `NOCHECK` all the FK constraints of the DB, then `DELETE FR

[2022-08-11 20:04] marcperrinoptel commented on #165
(to be more precise about the workaround i.e. calling with `allow_cascade=False` but on a set of tables that the user has to "extend" by themselves: it seems quite feasible using Django features like `connection.introspection.table_names`, `connection.introspection.get_relations` to build the full dependency graph)

[2022-08-11 21:40] jmah8 commented on #164
Thanks for the report, I can reproduce this issue.

[2022-08-12 16:51] jmah8 commented on #165
Thanks for the report and the details, we are looking into this.

[2022-08-13 04:38] patrickfish commented on #162
Looks like there were some breaking changes in many of the date/time DatabaseOperations methods in Django 4.1. QuerySet filters using `__date=datetime.now()` throw a `DatabaseOperations.datetime_cast_date_sql() takes 3 positional arguments but 4 were given` error.

[2022-08-15 18:28] jmah8 commented on #162
Yes we are aware of the breaking changes to the date/time DatabaseOperations. We are changing all the methods listed in the backwards incompatible changes in the [Django 4.1 docs](https://docs.djangoproject.com/en/4.1/releases/4.1/#backwards-incompatible-changes-in-4-1) but there are still other unit test failing which we are working through.

[2022-08-17 19:54] BrockHallenbeck opened #166 "SQL Server v16 is not supported."
I have two fresh virtual servers running Ubuntu 22.04. One has Django 4.1 installed, the other is a DB server with a fresh install of SQL Server on Ubuntu per [these instructions](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-ver16),

Using mssql-django 1.1.3, I am getting:

[code]

Have I misunderstood something?

[2022-08-17 19:58] BrockHallenbeck commented on #166
Disregard. I can't read.

[2022-08-17 19:58] #166 closed

[2022-08-18 21:11] jmah8 commented on #22
This issue should be fixed by PR #163. I am going to close this issue but if you are still having the same issue feel free to reopen this issue.

[2022-08-18 21:11] #22 closed

[2022-08-19 03:33] TCFox opened #167 "Cannot deploy to Azure App Service Linux (Can't open lib 'ODBC Driver 17 for SQL Server' : file not found)"
Adding this here hoping that it'll save someone else a world of pain, but would love if there was any additional ideas or comments on how to resolve this.

Currently I'm no longer unable to deploy my Django (4.0.x) app to Azure App Service Linux (through GitHub Actions), despite having `pyodbc`, `pytz` and `mssql-django` defined in my `requirements.txt`. I get the following error:
[code]

It appea

[2022-08-19 20:07] jmah8 commented on #167
I'm pretty sure the app service doesn't come with the ODBC driver anymore, so to fix it you would need to install the ODBC driver which is what the startup script does. Some information about setting up a startup script can be found in the [Microsoft docs](https://docs.microsoft.com/en-us/azure/developer/python/configure-python-web-app-on-app-service). If this doesn't fix the issue you are having,

[2022-08-24 22:03] hyperkai opened #168 "Is it possible to connect Django to SQL Server with "Windows authentication mode" using mssql-django?"
With the code below in `settings.py`, I could connect Django to SQL Server with **"Mixed mode(SQL Server Authentication mode)"** using **mssql-django**  but I couldn't with **"Windows authentication mode"**.

[code]

So, is it possible to connect Django to SQL Server with "Windows authentication mode" using **mssql-django**?

[2022-08-25 19:02] jmah8 commented on #168
Yes this should be possible. If you are on Windows and remove the `USER` and `PASSWORD` you should be able to connect Django to SQL Server with Windows authentication mode.

[2022-08-25 23:51] hyperkai commented on #168
Finally, by removing **USER**, **PASSWORD** and **PORT**, I could connect Django to SQL Server with "Windows authentication mode" using mssql-django. Thanks.

DATABASES = {
    'default':{
        'ENGINE':'mssql',
        'NAME':'test',
        # 'USER':'admin',
        # 'PASSWORD':'admin',
        # 'PORT':'1433',
        'HOST':'DESKTOP-OVPAPTY\SQLEXPRESS',

        'OPTIONS': {
            'd

[2022-08-26 00:26] jmah8 commented on #168
No problem. Closing this issue now.

[2022-08-26 00:26] #168 closed

[2022-08-28 23:55] TCFox commented on #167
I'll give this a go later this week, if I have any success I'll let you know! It's difficult to know exactly what would be considered "out-of-scope" for documentation in this case, but it might be good to add this into the `readme.md` if folks here were happy with it :)

[2022-09-01 18:52] adriennefranke commented on #130
@jmah8 Do you have a date in mind when the next release will come?

[2022-09-06 07:58] iamliji opened #171 "SQL Server v16 is not supported"
SQL Server v16 is not supported

[2022-09-06 11:06] #171 closed

[2022-09-13 09:23] lendenmc opened #173 "New release underway ?"
Hello,

Latest release is dated April 28th. Since then many tricky bug fixes has been merged, including  PR #163 and #128 which solve problems we are running into.

Are you closing in on a new release ?

That would be greatly appreciated.

Thanks for all the work on the new commits so far.

[2022-09-13 23:39] mShan0 commented on #173
Hi @lendenmc, our next release is scheduled to be released in early December. This will include all of the current bug fixes and future ones also.

[2022-09-14 05:25] iamjameswalters commented on #162
Curious to know if there's an update on this front? Currently developing against 4.0 and would love to move to 4.1 as soon as the dust settles here.

Thanks to everyone working on this--much appreciated!

[2022-09-14 14:49] renan-alonkin opened #174 "SQL Server v16 is not supported"
Hello there;

I have a simple question/request.

I want to connect to a SQL Server DB (SQL Server 2022), but after a little search, I noticed that the library doesn't support V16 yet.

Any ideas of when it will be solved?
Is there any workaround possible in the current state (the current version is 1.1.3)?

I checked the other issues, but they all were closed by the creators.

Unfortunately, I can

[2022-09-14 17:21] mShan0 commented on #174
There is a workaround to enable v16, however this is untested and we don't know what is working and what isn't.
In the source code, go into mssql/base.py. From there, add `16: 2022` under _sql_server_versions.

[code]

[2022-09-14 20:03] hlacikd opened #175 "how can we use varchar instead of nvarchar for models.CharField"
we have table that uses varchar as datatype, we are trying to use it as foreign key to another table completely created by models.Model

However mssql-django uses nvarchar as data type for models.CharField, which throws an error of non matching data types.

Question :

How to configure mssql-django with MSSQL server to use datatype varchar for models.CharField, or even how to create custom model w

[2022-09-14 20:40] mShan0 commented on #162
Currently, we're targeting December for Django 4.1 support

[2022-09-15 21:35] mShan0 commented on #175
Hi @hlacikd, we're currently looking into this. Will get back to you once we have an optimal solution

[2022-09-19 23:03] smartuparuba opened #176 "Django & pyodbc is not working with mssql-django"
Hi,

I installed django, pyodbc and mssql-django and configured my settings.py according to info provided.
But if i start a migrate im getting the following error message:

django.core.exceptions.ImproperlyConfigured: 'sql_server.pyodbc' isn't an available database backend or couldn't be imported. Check the above exception. To use one of the built-in backends, use 'django.db.backends.XXX', where X

[2022-09-20 16:33] mShan0 commented on #176
Hi @smartuparuba, try setting the `ENGINE` to `mssql`.
[code]

[2022-09-20 18:34] smartuparuba commented on #176
@mShan0,

Thanks for your reply.

Im following the gcp method:

DATABASES = {"default": env.db()
                          }

But also tried your method but no luck

[2022-09-20 21:24] mShan0 commented on #176
Can I get the settings you're using? I'm not familiar with Google Cloud. What does env.db() set exactly?

`sql_server.pyodbc` is what the engine was called on older versions and other forks of this driver before it became `mssql`. What version of `mssql-django` and `django` are you using?

[2022-09-21 14:53] smartuparuba commented on #176
@mShan0
env.db() = DATABASE_URL=mssql://DATABASE_USERNAME:DATABASE_PASSWORD@//cloudsql/PROJECT_ID:REGION:INSTANCE_NAME/DATABASE_NAME

Im using the latest mssql-django and the latest django

[2022-09-21 16:35] mShan0 commented on #176
Try changing the first part of your `DATABASE_URL` from `mssql` to `mssqlms`.

[2022-09-21 22:03] marshalc commented on #12
This has taken me a few days digging to get to... but ironically for me in a Django 4.1 world trying to access an MSSQL 2008R2 database, this fix is what is breaking my ability to read a full ordered table. Leaving crumbs for myself (and any others fighting with legacy DBs)... haven't yet worked out what the remedy is, or how to perhaps revert this fix.

[2022-09-23 11:46] aashayamballi commented on #175
In our project also we're facing the same issue. Our parent table's primary has varchar datatype and when we're trying to migrate the Django models. we're getting the migration issue

`django.db.utils.ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Column 'field' is not the same data type as referencing column 'field' in foreign key 'app_model_field_name_

[2022-09-23 16:29] mShan0 commented on #175
Hi @aashayamballi, can you post your models.py for your affected tables?

[2022-09-23 20:13] aashayamballi commented on #175
Sure i can share it tomorrow.. but, as I said the parent model was earlier created directly through DDL commands in SQL Server.. I just ran the inspectdb command to generate the django models from existing tables.

[2022-09-26 04:59] aashayamballi commented on #175
@mShan0 this what django model looks like

[code]
so the first model PreExistingModel was created in SQL Server and we just ran inspectdb command and generated the DB model. so the PreExistingModel table's primary key type is varchar in the database.

so now when I'm trying to create the ManyToManyField in the second table, the through table is creating nvarchar field and when it's trying to add t

[2022-09-28 12:33] vamshikrishnaakula commented on #174
hello renan-alonkin  am also searching quite related like this issue, may i expect how did you do dockerize the sql server

and does this possible to decorize sql server 2012 Thankyou

[2022-09-28 16:29] mShan0 commented on #175
Thanks, continuing to look into this

[2022-09-29 00:18] smartuparuba commented on #176
@mShan0 sorry for my late reply, but i did what you said but no luck...

[2022-09-29 16:28] mShan0 commented on #176
What's the error message that shows up? Are you using `django-environ` to handle the env.db() string? It seems like that library is still mapping `mssql` to the old version of our driver. Try this workaround:

https://github.com/joke2k/django-environ/issues/295

[2022-10-04 23:53] renan-alonkin commented on #174
I don't think that there is a 2012 image for docker, unfortunately.

My workaround was not a workaround. For now, I have a copy of our database, but on a 2017 server... The IT team wanted to kill me, but that was the only way to make it work, unfortunately.

I hope you can find a solution

[2022-10-05 09:06] Egoart opened #183 "Can't get data from table that is under non-default schema"
Hello,
I'm a newbie in MS SQL Server and playing with default database AdventureWorks2019. I was able to connect to DB and inspect it with `inspectdb` Django command. However, I can not query the tables that are under the schemas another than dbo. Here is the error:

`'42S02', '[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name "Address". (208) (SQLExecDirectW)'`

Th

[2022-10-05 16:42] mShan0 commented on #183
Hi @Egoart, what specifically are you trying to do with different schemas? Are you trying to inspect different schemas via `inspectdb`?

[2022-10-05 18:18] Egoart commented on #183
`inspectdb` is working well for me. I can inspect tables in different schemas passing the table name as an additional argument.
However, when I'm trying to retrieve objects from a table using Django ORM, I've got that error in case of tables that are not in dbo schema.

[2022-10-06 19:48] dakotahorstman opened #185 "``--natural-foreign`` raises CommandError"
Attempting to run ``python manage.py dumpdata`` with the ``--natrual-foreign`` switch causes SQL Server to raise

```CommandError: Unable to serialize database: ('HY000', '[HY000] [Microsoft][ODBC Driver 17 for SQL Server]Connection is busy with results for another command (0) (SQLExecDirectW)')```

My full command:
``python manage.py dumpdata --natural-foreign --exclude auth.permission --exclude

[2022-10-07 18:02] mShan0 commented on #185
Hi @dakotahorstman, do you have any more details/reproduction steps? I'm not running into any errors using `--natural-foreign`.

What you could try is activating multiple active result sets like this:
[code]

[2022-10-07 18:48] dakotahorstman commented on #185
Hi @mShan0,

Thanks for tackling this with me. I just tried your suggestion to no avail. Here is my current environment:

[code]

I am using django-polymorphic quite heavily in this project. I'm suspicious that it is causing the issue I am having. For example, many of my models look like this:

**base.py**
[code]

**child_a.py**
[code]

**child_b.py**
[code]

[2022-10-07 23:27] mShan0 commented on #185
Thanks for the info. I'm unfamiliar with `django-polymorphic` and `--natural-foreign` but I will attempt to find the issue. Also, looking at issue #45, it might be that our driver may not support natural keys properly yet.

[2022-10-08 05:06] JulianOrteil commented on #185
Thank you for your willingness to help! I dont use natural keys directly, however polymorphic requires the use of ``--natural-foreign`` and ``--natural-primary`` when running ``dumpdata``. It's supposedly required for any table (model) that references ``ContentType`` objects.

I also believe my server is MSSQL 2019. I can double check on Monday though if you would like.

[2022-10-13 22:05] mathlesperance commented on #175
It would certainly be optimal to be able to specify if the underlying dbcolumn of a CharField IsUnicode (nvarchar) or not (varchar) for unmanaged table (tables created outside of Django).

Even in a simple case with no JOIN, not being able to specify that can have a big performance impact.

In our scenario we have primary keys and indexes on non-unicode varchar columns.
When we look at the query g

[2022-10-18 12:20] vamshikrishnaakula commented on #39
Zhao-li bro am trying to dockerise my django+ sql server the application was docerized succesfully but while doing sql server am getting db.utils 01000 error how do you solved it was

[2022-10-19 04:29] zhao-li commented on #39
@vamshikrishnaakula sorry, it's been quite a while since I last touched this.
Without much other information, this is all I can recommend:
- verify the ODBC driver is installed, e.g. `msodbcsqlxx`
- verify if these optional libraries are installed and is helpful: `unixodbc-dev`
- verify if these python libraries are installed: `mssql-django`, `pyodbc`
- check if you missed any steps from here: htt

[2022-10-27 14:01] vamshikrishnaakula commented on #39
zhao-li  bro . .  sorry for late reply i didnt see you response  here is my code  you review once  when i ran locally it was worked fine through engine : 'mssql'
the thing is when we come to container only
i went through that microsoft drivers but i am using windows os eventhough  i didnt get

Thankyou in advance

https://github.com/vamshikrishnaakula/django-photoapp/tree/main

[2022-10-28 08:12] zhao-li commented on #39
@vamshikrishnaakula No worries; it's all good.  Thanks for sharing the code.

I think the database hostname here: https://github.com/vamshikrishnaakula/django-photoapp/blob/main/DjangoJavaTpointCRUD/settings.py#L107
is pointing to your host machine and not your container.

I would expect the hostname to be the service name defined here: https://github.com/vamshikrishnaakula/django-photoapp/blob/ma

[2022-10-28 12:18] vamshikrishnaakula commented on #39
bro tq for your efforts towards me .....here small my  doubt, after corrections  done as of you said no need of installing any drivers like (unixodbc) . . .?

[2022-10-28 14:52] joeri-vlekken opened #193 ""Stack smashing" error in combination with AzureSQL"
**Update: I have opened an issue on pyodbc as I can replicate the exact same issue with a direct database connection in pyodbc to AzureSQL, so I suspect the cause might not be at mssql-django.**

My environment broke since yesterday, shortly after a minor version update of AlmaLinux 8.6 (kernel was also updated a minor version) however I can not verify the update is related since a rollback of the

[2022-10-28 17:05] zhao-li commented on #39
@vamshikrishnaakula sorry, I assumed you had those in place already.

For the `msodbcsql18` and/or `unixodbc` driver(s), you'll need to perform these steps:
https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver15#ubuntu18
[code]
during your build process, which is determined by your `Dockerfile`: https://github.com/vams

[2022-10-28 17:09] zhao-li commented on #39
@vamshikrishnaakula if you want to learn more about containers:
* this is the project template I use for all of my projects, which are usually containerized: https://github.com/zhao-lin-li/project-template
  * I've tried to incorporate the best practices listed here (as well as lessons learned while using `Docker` and `Docker Compose`: https://docs.docker.com/develop/develop-images/dockerfile_best

[2022-10-29 17:50] vamshikrishnaakula commented on #39
tq....brother @zhao-li

[2022-10-31 11:21] joeri-vlekken commented on #193
I'll close the issue as I can replicate the issue on a deeper level (a direct connection from pyodbc produces the same result). I have logged the issue over there.

[2022-10-31 11:21] #193 closed

[2022-11-04 14:28] GorlikItsMe opened #196 "Do we need check support for modern datatime types on every request?"
https://github.com/microsoft/mssql-django/blob/fe3ee18f8ae7975bf12934796a8ddae01225a1af/mssql/base.py#L432

Do we need to on every request send `SELECT SYSDATETIME()`? Can we cache it and check only once?

[2022-11-04 17:10] rafaelrodrigues3092 opened #197 "Azure SQL: (fields.E180) SQL Server does not support JSONFields"
**Software versions**
* Django: 3.2.15
* mssql-django: 1.1.3
* python: 3.9.7
* SQL Server: Azure SQL Server Managed Instance
* OS: N/A

**Table schema and Model**

[code]

**Database Connection Settings**

[code]

**Problem description and steps to reproduce**

During a migration for a model with a JSONField field, I am seeing the error "MyModel: (fields.E189) SQL Server does not support JSONField

[2022-11-07 21:08] mShan0 commented on #197
I've added a potential fix to a branch called `azure-jsonfield`. Can you try that to see if it works?

[2022-11-07 21:09] mShan0 commented on #196
Hi @GorlikItsMe, we will have to look more into that. Is it causing you performance issues? Or any other issues in general?

[2022-11-08 00:27] rafaelrodrigues3092 commented on #197
Tested and working!

Thanks for the quick fix. Hoping it will be included the next release!

[2022-11-08 08:30] GorlikItsMe commented on #196
I use the `Django debug toolbar` to find what SQL query my app makes. I use 2 databases (MySQL and mssql). Some pages don't make any query to mssql database but still every request I make `SELECT SYSDATETIME()` to mssql.
Processing this query sometimes takes a long time because the database is on another server (I have high latency there) and I was wondering Is there a way to somehow disable this

[2022-11-08 17:39] mShan0 commented on #196
Definitely something we'll look into. Thanks for the report!

[2022-11-11 16:53] freelancer79 opened #200 "[QUESTION] Inspect not working?"
**Question**
I tried to run "python manage.py inspectdb > models.py" but the file doesn't have any models. What am I doing wrong?

[2022-11-13 19:27] shakthifuture commented on #149
Why new version v16 not supported?

[2022-11-14 18:44] khanhmaibui commented on #200
Hi @freelancer79, could you provide some more details regarding your configuration and software version? Did you get any error messages when you tried to run the command?

[2022-11-15 17:50] mShan0 commented on #185
Hi @dakotahorstman, I gave the wrong `extra_param` to activate MARS. Can you try adding `MARS_Connection=Yes` to your `extra_params`?

[2022-11-16 01:04] tartieret opened #201 "Cannot use cascade deletion with a self-referencing models"
There are some features which are not supported yet. Please check the [Limitations](https://github.com/microsoft/mssql-django#limitations) first to see if your bug is listed.

**Software versions**
* Django: 3.2
* mssql-django: 1.1.3
* python: 3.9
* SQL Server: mcr.microsoft.com/mssql/server:2017-latest (docker image)
* OS: Ubuntu (docker)

**Table schema and Model**

Consider the example below wi

[2022-11-16 19:43] XF-FW commented on #10
`dj-database-url` supports this database engine as of the latest version, so I think it's safe for this issue to be closed, IMO.

[2022-11-16 20:11] XF-FW commented on #134
Any interest here?

My use-case, is that django is not the only application touching the database and it's not handling the migrations at all (however they're used in testing and development). My workaround is to use a charfield, which is less than satisfying.

Tagging #40, since it's related to this.

[2022-11-16 21:50] mShan0 commented on #201
Hi @tartieret, thanks for the detailed report. We are able to reproduce this and are looking into it.

[2022-11-16 21:57] davidjb commented on #10
@XF-FW This issue is that `mssql-django`'s testapp doesn't allow for customisation of its databases and settings, rather being related to `dj_database_url` operates.

If you compare the [current version](https://github.com/microsoft/mssql-django/blob/dev/testapp/settings.py#L10-L29) to the [ESSSolutions version](https://github.com/ESSolutions/django-mssql-backend/blob/master/testapp/settings.py#L1

[2022-11-17 01:38] XF-FW commented on #10
Ah, yeah, that makes sense. Ignore my comment then. Sorry about that.

[2022-11-17 02:03] davidjb commented on #10
No worries @XF-FW! It's good to know it's got support for SQL Server now, so perhaps just using `dj-database-url` again would be the solution.

[2022-11-17 15:25] dakotahorstman commented on #185
@mShan0 That did it! Is this an extra param I can leave in production or would you advise against that?

[2022-11-17 18:14] mShan0 commented on #185
I'm not 100% sure but here's a link to the Microsoft documentation on MARS:

https://learn.microsoft.com/en-us/sql/relational-databases/native-client/features/using-multiple-active-result-sets-mars?view=sql-server-ver16

Feel free to let me know if this is helpful enough or not.

[2022-11-21 17:46] dakotahorstman commented on #185
@mShan0 I reached out to my company's internal DB admin and he said this about keeping the extra param in production:

![image](https://user-images.githubusercontent.com/112419414/203123920-6142abbe-6711-452d-9ac6-85a2a9e7fb34.png)

Django, by default, closes the connection after each request, so it shouldn't be an issue.
https://docs.djangoproject.com/en/4.1/ref/databases/#persistent-connections

[2022-11-22 16:25] jnovinger commented on #162
@jmah8 , is there any update on whether Django 4.1 support will still be ready for release in December?

Is there anywhere the community can help with this? Is there a punch list of items left to complete for the release somewhere?

 I didn't see anything other than the [December release](https://github.com/microsoft/mssql-django/wiki/Upcoming-Release-Notes#december-release) notes in the wiki and

[2022-11-25 01:01] mShan0 commented on #162
Hi @jnovinger, our release for Django 4.1 support will be on Dec 8. We just have a few more unit tests from the Django library to resolve.